	body {
		background-color: #EDEEF0;
	}
	
	div#opciones,
	div#resultados,
	div#pasos{
		margin: 0 auto 0 auto;
		text-align:left;
		position:relative;
		float:left;
	}
	
	a {
		color:#426184;
		font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
		text-decoration:none;
		padding: 0px 20px;
		text-transform:capitalize;
	}
	a:hover { 
		color:#000;
		text-decoration:underline;
	}
	#new{
		COLOR: #dc143c
	}

/**** FILAS DE LAS TAREAS***************************************************************************/
table.tblopciones {
	border: 1px solid #ccc;
    width: 700px;
}

table.tblopcionesDatNew {
	border: 1px solid #ccc;
    width: 650px;
}
                
table.tblopciones tbody tr.titulo th{
	font: bold 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #fff;
	text-align: center;
	background-color:#165A7D;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}

table.tblopciones tbody tr.subtitulo th {
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #fff;
    text-align: left;
	background-color:#376A95;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}

table.tblopciones tbody td,
table.tblopcionesDatNew tbody td{
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #fff;
    text-align: left;
	padding:0 5px 0 5px;
    border-top: 1px dotted #eee;
}

table.tblopciones tbody tr.titulomedio th{
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #D5EAF4;
    text-align: left;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
    border-top: 1px dotted #eee;
}

table.tblopcionesDatNew tbody tr.titulomedio2 th {
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #FFFFF2;
    text-align: left;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
    border-top: 1px dotted #eee;
}


/**** FILAS DE LOS PHP ***************************************************************************/
table.tblopcionesfilas {
	border: 1px solid #ccc;
    width: 500px;
}
                
table.tblopcionesfilas tbody td{
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #fff;
    text-align: left;
	padding:0 5px 0 5px;
    border-top: 1px dotted #eee;
}

/**** FILAS DE LOS RESULTADOS *********************************************************************/
table.tblresultados{
	border: 1px solid #ccc;
    width: 700px;
}

table.tblresultados tbody tr.titulomostrar th {
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #fff;
    text-align: left;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
	border: 0;
/*    border-top: 1px dotted #eee;*/
}

div#divResultados,div#divPasos{
	width: 685px;
	height: 250px;
	margin: 0 auto 0 auto;
	text-align:left;
	overflow:auto;
	position:relative;
	float:left;
	font: bold 13px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #000;
	background: #fff;
	text-align: left;
	padding:0 5px 0 5px;
	border: 0;
}

div#Reloj{
	width:150px;
	background-color:#FFFFE1;
	position:absolute;
	top:30%;
	left:20%;
	visibility:hidden;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #000;
	text-align: left;
}

select {
	font-size:14px;
	width:130px;
	background-color:#D3DEE7;
	color:#334457;
	margin: 3px 3px 0 3px;
	border: solid 1px #20374A;
}

input.botonsml {
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	color:#426184;
	border:1px solid #B6BAC2;
	margin: 1px;
	padding:0;
	cursor: pointer;
}
