
/**** TABLA DE REGISTROS***************************************************************************/
table.NuevoProducto tbody tr.subtitulo th,
table.tblEmail tbody tr.subtitulo th{
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #fff;
    text-align: left;
	background-color:#376A95;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}

table.NuevoProducto tbody tr.color1 td,
table.NuevoDatos tbody tr.color1 td,
table.tblEmail tbody tr.color1 td{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #fff;
    text-align: left;
	padding:0 3px 0 3px;
    border-top: 1px dotted #eee;
}


div#msgNuevoN,
div#msgNuevoM{
	margin: 0 auto 0 auto;
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#FF0000;
    text-align: center;
	padding:0 3px 0 3px;
    border-top: 1px dotted #eee;
}

div#Reloj{
	width:150px;
	background-color:#FFFFE1;
	position:absolute;
	top:40%;
	left:35%;
	visibility:hidden;
	font: bold 10px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #000;
	text-align: left;
}

select {
	width: auto;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
	background-color:#D3DEE7;
	margin: 1px 1px 1px 1px;
	border: solid 1px #20374A;

}

input.cajatexto {
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
	background-color:#D3DEE7;
	margin: 1px 1px 1px 1px;
	border: solid 1px #20374A;
}

input.botonsml {
	background-position:center;
	background-repeat:no-repeat;
	background-color: #F9F9F9;
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#426184;
	border:1px solid #B6BAC2;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
input.botonEmail {
	background-position:center;
	background-repeat:no-repeat;
	background-color: #F9F9F9;
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#426184;
	border:1px solid #B6BAC2;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	width: 50px;
}

.texto {
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
}




/*************************************************************/
div#tblregistros-container {
	width: 400px;
	height: 450px;
	overflow: auto;
}

table#tblregistros{
	border-collapse: collapse;
	border: 1px solid #02679D;
}

table#tblregistros thead tr.titulo th{
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #fff;
	text-align: center;
	background-color:#165A7D;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}
table#tblregistros thead tr.subtitulo th{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #fff;
    text-align: left;
	background-color:#376A95;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}

table#tblregistros thead th {
	top: expression(document.getElementById("tblregistros-container").scrollTop-2); /* IE5+ only */
	z-index: 20;
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); 
	position: relative;
}

table#tblregistros tbody td
{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    text-align: left;
	padding:0px 0px 0px 0px;
	border-bottom:1px solid #02679D;
}
.resaltafila{background-color:#DAEBFA}
.colorfila{background-color:white}

.blanco{text-decoration:none;
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #fff;}

DIV#caja{
	clear:both;
	width:75px;
	MARGIN: 2px 0px
}
	
DIV#cajaIzq{
	background-image:url(cajaI.gif);
	background-repeat:no-repeat;
	MARGIN-RIGHT: 18px;
	padding: 0 0 0 5;
}

DIV#cajaDer{
	background-image:url(cajaD.gif);
	background-repeat:no-repeat;
	FLOAT: right; WIDTH: 18px; 
}

DIV#cajaIzq a, DIV#cajaIzq a:hover, DIV#cajaIzq a:active{
	text-decoration:none;
	border:none;
	color:#02679D;
}

