<head>
        <meta charset="utf-8">
        <title>REIFax Home</title>
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/css.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/chosen.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/menu.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/advertising.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/jquery.cleditor.css"/> 
        
                <![if !IE]><script src="http://dev.virtualearth.net/mapcontrol/v6.3/js/atlascompat.js"></script><![endif]>
        <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3"></script>
                 <!-- JQuery -->
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/includes/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/includes/jquery.carouFredSel-4.3.3-packed.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/validationRegister.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/tabPanel.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/cookies.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/jquery.upload-1.0.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/ubicacion.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/jquery.cleditor.min.js"></script>
		<script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/flowplayer-3.2.6.min.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/menu.js"></script> 
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/functionGlobal.js"></script> 
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

		<!-- Extjs-->
		<link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/js/extjs3/resources/css/ext-all.css" />
        <script type="text/javascript" src="http://www.reifax.com/resources/js/extjs3/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="http://www.reifax.com/resources/js/extjs3/ext-all.js"></script>
        <script type="text/javascript" src="http://www.reifax.com/resources/js/extjs3/examples/ux/ux-all.js"></script>
        
        <link rel="shortcut icon" type="image/ico" href="http://www.reifax.com/xima3/website/favicon.png">
    </head>
<script src="/includes/properties_draw.js"></script>
<script>
function gridgetcasita(value, metaData, record, rowIndex){
	if(value=='SUBJECT'){
		return "<div style='position:relative;text-align:center;font:bold 14px;cursor:pointer;float:left;'><img style='position:absolute;top:-1px;left:-2px;z-index:100' src='http://www.reifax.com/img/houses/"+lsImgCss[value].img+"'/><div style='position:relative;top:2px;left:3px;z-index:200;text-decoration:none!important'>&nbsp;</div></div>";
	}else{
		var aux=value.split('_');
		return "<div style='position:relative;text-align:center;font:bold 14px;cursor:pointer;float:left;'><img style='position:absolute;top:-1px;left:-2px;z-index:100' src='http://www.reifax.com/img/houses/"+lsImgCss[aux[1]].img+"'/><div style='position:relative;top:2px;left:3px;z-index:200;text-decoration:none!important'>"+aux[0]+"</div></div>"
	} 
}

function gridgetsold(value, metaData, record, rowIndex){
	var sold = record.get('status').split('_')[1].split('-')[2];
	if(sold=='S') return value+' SOLD';
			return  value;
}
function showdiffvaluewin(lsqft,larea,beds,bath,zip){
	var html='';
	if(lsqft.length>0 && lsqft>0) html+='<tr><td>GArea:</td><td><font color=#1D5AFE>' + lsqft+ '</font></td></tr>';
	if(larea.length>0 && larea>0) html+='<tr><td>LArea:</td><td><font color=#1D5AFE>' + larea+ '</font></td></tr>';
	if(beds.length>0 && beds>0) html+='<tr><td>Be:</td><td><font color=#1D5AFE>' + beds+ '</font></td></tr>';
	if(bath.length>0 && bath>0) html+='<tr><td>Ba:</td><td><font color=#1D5AFE>' + bath+ '</font></td></tr>';
	if(zip.length>0 && zip>0) html+='<tr><td>Zip:</td><td><font color=#1D5AFE>' + zip+ '</font></td></tr>';
	return '<table>'+html+'</table>'; 
}

function griddifflarea(value, metaData, record, rowIndex){
	return value;
}

function griddifflsqft(value, metaData, record, rowIndex){
	return value;
}

function griddiffbeds(value, metaData, record, rowIndex){
	return value;
}

function griddiffbath(value, metaData, record, rowIndex){
	return value;
}
		
function griddiffzip(value, metaData, record, rowIndex){
	return value;
}
function  loadDataGrip(dataGlobal, panel, pin, map, dbdata,comparado)
{
	var arrLatLong= new Array();
	var data = dataGlobal.records;
	var columns = dataGlobal.columns;
	map.map.Clear();
	var arrLatLong= new Array();
	var pin = new VEPushpin(
			pin+'_0_'+comparado.parcelid+'_'+data,
			new VELatLong(comparado.latitude,comparado.longitude),'http://www.reifax.com/img/houses/verdetotal.png',
			comparado.address,
			'<div align=center style="float:right; padding-left:10px;"><table style="white-space: nowrap;font-family:\'Trebuchet MS\',Arial,Helvetica,sans-serif;font-size:12px;" border="0">'+
			'  <tr> '+
			'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Gross Area:</td>'+
			'    <td> '+comparado.lsqft+'</td>'+
			'  </tr><tr> '+
			'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Living Area:</td>'+
			'    <td>'+comparado.bheated+'</td>'+
			'  </tr><tr> '+
			'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Beds/Baths:</td>'+
			'    <td>'+comparado.beds+'</td>'+
			'  </tr> <tr> '+
			'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Price</td>'+
			'    <td>'+comparado.saleprice+'</td>'+
			'  </tr> <tr> '+
			'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Status:</td>'+
			'    <td>Subject</td>'+
			'  </tr></table></div>',
			'',
			'',
			''
		);
	map.map.ClearInfoBoxStyles();
	map.map.AddPushpin(pin);
	arrLatLong.push(new VELatLong(comparado.latitude,comparado.longitude));
	map.map.SetMapView(arrLatLong);
	
	for(k in data)
	{
		if(Ext.isNumber(parseInt(k)))
		{
			var id = data[k].status.split('_');
			var ind = id[0];
			var status = id[1].split('-')[0];
			var pendes = id[1].split('-')[1];
			var sold = id[1].split('-')[2];
			getCasita(status,pendes,sold);
			pin2 = new VEPushpin(
					pin+'_'+ind+'_'+data[k].pid+'_'+dbdata,
					new VELatLong(data[k].pin_xlat,data[k].pin_xlong),
					'http://www.reifax.com/img/houses/'+lsImgCss[indImgCss].img,
					data[k].pin_address,
					'<div align=center style="float:right; padding-left:10px;"><table style="white-space: nowrap;font-family:\'Trebuchet MS\',Arial,Helvetica,sans-serif;font-size:12px;" border="0">'+
					'  <tr> '+
					'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Gross Area:</td>'+
					'    <td>'+data[k].pin_lsqft+'</td>'+
					'  </tr><tr> '+
					'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Living Area:</td>'+
					'    <td>'+data[k].pin_larea+'</td>'+
					'  </tr><tr> '+
					'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Beds/Baths:</td>'+
					'    <td>'+data[k].pin_bed+'/'+data[k].pin_bath+'</td>'+
					'  </tr> <tr> '+
					'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Price</td>'+
					'    <td>'+data[k].pin_saleprice+'</td>'+
					'  </tr> <tr> '+
					'    <td style=" font-weight:bold; margin-right:5px;"><div class="cuote"></div>Status:</td>'+
					'    <td>'+lsImgCss[indImgCss].explain+'</td>'+
					'  </tr> <tr> '+
					'  </tr></table></div>',
					'',
					'',
					''
				);
			map.map.ClearInfoBoxStyles();
			map.map.AddPushpin(pin2);
			arrLatLong.push(new VELatLong(data[k].pin_xlat,data[k].pin_xlong));
		}					
	}
	map.map.SetMapView(arrLatLong);	
	var html='<table cellpadding="0" cellspacing="0" style="font: 11px arial,tahoma,helvetica,sans-serif;"><tr style="line-height:15px;">';
	
	for(var val in columns)
	{
		if(Ext.isNumber(parseInt(val)))
		{
			html+='<td style="background-color:#376A95; color:#FFFFFF; width:'+columns[val].width+'; padding:4px 3px 4px 5px; border-left:1px solid #EEEEEE; border-right:1px solid #D0D0D0;">'+columns[val].header+'</td>';
			}
		}
		html+='</tr>';
		var value,td;
		for(var d in data)
		{
			if(Ext.isNumber(parseInt(d)))
			{
				value = data[d];
				html+='<tr style="line-height:15px;border-bottom:1px solid #EEEEEE;">';	
				for(var c in columns)
				{
					if(Ext.isNumber(parseInt(c)))
					{
						if(columns[c].dataIndex=='status')
							td= columns[c].renderer(value[columns[c].dataIndex]);
						else if(columns[c].dataIndex!='pendes')
							td= value[columns[c].dataIndex];
						else
						{
							td = value[columns[c].dataIndex];
							if(value['status'].split('_')[1].split('-')[2]=='S')
								td+=' SOLD';
						}
						td = Ext.isEmpty(td) ? '&nbsp' : td;
						//td= value[columns[c].dataIndex];
						html+='<td style="padding:4px 3px 4px 5px;border-bottom:1px solid #EEEEEE;">'+td+'</td>';	
					}
				}
				html+='</tr>';
			}
		}
	
		html+='</table>';
		if(data.length>0)
		{
				$('#'+panel).html(html);
		}
		else
		{
			$('#'+panel).html('Sorry there are not Comparables for this record');
		}
}



var user_web=false;
var user_loged=true;
var system_width=985;
</script>
<div id="cabeceraReport">
    <div id="bloqueEmpresa">
        <a href=""></a>
    </div>
    <div id="bloqueLogoReporte">
    	Home Fax Report
    </div>
</div>
<div class="overviewDetails">
    <div class="overviewReports">
            <div class="panel detailsTitle">
                <div class="center">
                    <div id="map">
                        
                    </div>
                    <input type="hidden" id="map_mapa_search_latlong" />
                    <div class="describe">
                        <div class="title">
                             100 SW 96TH TER, PEMBROKE PINES, FLORIDA, 33025                        </div>
                        <div class="relevante">
                            1051 sqft / 2 beds / 1 baths / Single Family    
                        </div>
                        <div class="price">
                            <span>
                                $87,118                            </span>
                        </div>          
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
    <div style="page-break-after:always"></div><br clear="all"><br clear="all">