/* CSS Document */

body {
	/*background-image:url(../../img/bghead.jpg);*/
	background-position:top;
	background-repeat:repeat-x;
	/*background-color:#D5EAF4;*/
	margin:0;
	padding:0;
	font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
	font-size:65%;
	}
	img{
		border:0;
		text-decoration:none;
	}
	
	body.bodylg {
	/*background-image:url(../../img/bghead2.jpg);*/
	background-position:top;
	background-repeat:repeat-x;
	/*background-color:#D5EAF4;*/
	}
	body.popbodyup {
	/*background-image:url(../../img/bgpopup.jpg);*/
	background-repeat:repeat-x;
	/*background-color:#D5EAF4;*/
	}
	body.popbodyup h2{
	text-transform:uppercase;
	}

#Itoolbar{ 
	background-color: #edeef0;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
}
#arrows_ss{
	float:right;
	padding: 0px;
	margin: 0px;
}

#Itoolbar a{ 
	text-decoration:none; 
	border: thin solid #edeef0;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width:25px;
	height:25px;
}
#Itoolbar a:visited, #Itoolbar a:link{
	text-decoration:none;
	border: thin solid #edeef0;
	width:25px;
	height:25px;
}
#Itoolbar a:hover{ 
	text-decoration:none;
	background:#f0f7ff;
	border: thin solid #C2D6DC;
	width:25px;
	height:25px;
}
.toolbarI{ text-decoration:none; border:none; padding: 0px; margin:0px;}
#Itoolbar a img{border:none; padding:0px; margin:0px;}

#submenuCompleto{
	width:auto;/*948px; /* 948+30=978*/
	height:25px; /*21+4=25*/
	padding: 2px 15px 0px 10px;
	/*background:url(../../img/bg.jpg);*/
}
	
#maincontainer {
	width:978px;
	margin:auto;
	text-align:left;
	/*overflow:auto;*/
	}
	
	#header {
		width:978px;
		height:40px;
		/*background-image:url(../../img/header.jpg);*/
		margin:0 auto;
		/*clear:both;*/
		}
		*html #header {
		height:35px;
		}
		
		#headerlg {
		width:978px;
		height:60px;
		/*background-image:url(../../img/header2.jpg);*/
		border-bottom: 1px solid #DDEEF6;
		margin:auto;
		/*clear:both;*/
		}
		#headerlg2 {
		width:978px;
		/*height:10px;*/
		/*background-image:url(../../img/header2.jpg);*/
		border-bottom: 1px solid #DDEEF6;
		margin:0;
		font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
		clear: right;
		height: 85px;
		}
	#submenumls,
	#submenupsummary, #submenufore,#submenumortgage,
	#submenupen, #submenuadvanced, #submenuaccount {
		color:#2E455A;
		font-size:1.1em;
		clear: both;
		}

	#maincontent {
		width:auto; /*958px; /* 958+20=978*/
		padding: 5px 10px;
		height:auto;
		/*background-image:url(../../img/bg.jpg);*/
		/*overflow:auto;*/
		margin:auto;
		}
		
		body.popbodyup #maincontent{
		width:auto; /*958px; /* 958+20=978*/
		padding: 5px 10px;
		height:auto;
		/*background-image:url(../../img/bgpopup.jpg);*/
		/*overflow:auto;*/
		margin:auto;
		}
		
	#piepag {
	text-align:center;
	margin: 0 2 auto;
	height: 16px; /*16+4=20*/
	/*background:url(../../img/footer2.jpg) repeat-y;*/
	/*color: #0000CC;*/
	font-size:1.1em;
	border-top:1px solid #DDEEF6;
}

		#piepag a {
			/*color:#0000CC;*/
			text-decoration:none;
			padding: 0px 20px;
			text-transform: capitalize;
			}
		#piepag a:hover { text-decoration:underline;}
		
	.geniuswork {
		width: auto; /*958px; /* 958+20=978*/
		font-size:0.2em;
		height:0px;
		padding:0;
		margin:0;
		clear:both;
		/*background-color: #009900;*/
		}
	.visible {
		display: block;
		}
	.invisible{
		display:none;
		}
/*---------------------------MENU------------------------------*/


	
#menu {
	float:left;
	width:92%;
	padding: 0 2px 0 10px;
	margin:19px 0 0 0;
	overflow:auto;
	}
	
	 #headerlg div#menu {
		display:none;
		}
	
		/*#headerlg div#menu {
	float:left;
	width:15%;
	/*height:25px;
		padding: 2px 10px 0 2px;
	margin:37px 0 0 655px;/*663 para q quede exacto en ie7
	overflow:auto;
		}*/
		
		/*#ciSlBh,
		#sdSlBh,
		scSlBh {
		text-align:right;
		float: left; 
		margin:0 0 0 300px;
		padding:0 0 0 0;
		}*/
		
		#ciSlBh,
		 #sdSlBh,
		 scSlBh {
		text-align:right;
		float: left; 
		margin:0 0 1px 811px;
		padding:0 0 0 0;
		}

/**html #menu {
	margin:46px 0 0 0;
	}*/

#menu ul,
#submenupsummary ul, #submenuinv ul,#submenumortgage ul,
#submenumls ul, #submenuadvanced ul, #submenupen ul, #submenuaccount ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#menu ul li, 
#submenupsummary ul li, #submenuinv ul li,#submenumortgage ul li,
#submenumls ul li,#submenuadvanced ul li, #submenupen ul li, #submenuaccount ul li {
	list-style-type:none;
	list-style-image:none;
	padding:0;
	float:left;
}

		#headerlg div#menu ul li a {
			/*width: 110px;*/
			/*background-image:url(../../img/tabmenuoverhome.png);*/
			font-size:1em;
		}


#menu ul li a,
#submenumls ul li a,
#submenupen ul li a,
#submenupsummary ul li a,
#submenuadvanced ul li a,
#submenufore ul li a, 
#submenumortgage ul li a,
#submenuaccount ul li a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	margin: 0 0 0 2px;
	padding: 4px 0 0 0;
	width: 80px;
	height:17px;
	float:left;
	font-size:0.8em;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
}

*html #menu ul li a,
*html #submenumls ul li a,
*html #submenupen ul li a,
*html #submenuinv ul li a,
*html #submenupsummary ul li a,
*html #submenuadvanced ul li a, 
*html #submenumortgage ul li a, 
*html #submenuaccount ul li a {
		height:21px;

}

#menu ul li a, #submenuaccount ul li a{
	width:110px;
}

#menu ul li a, #submenuaccount ul li a {
	font-size:0.9em;
}

#submenumls ul li a:link, #submenupsummary ul li a:link,#submenupen ul li a:link,#submenumortgage ul li a:link,#submenuadvanced ul li a:link, #submenuinv ul li a:link,
#submenumls ul li a:active, #submenupsummary ul li a:active, #submenupen ul li a:active, #submenumortgage ul li a:active,#submenuadvanced ul li a:active, #submenuinv ul li a:active,
#submenumls ul li a:visited, #submenupsummary ul li a:visited, #submenupen ul li a:visited, #submenumortgage ul li a:visited, #submenuadvanced ul li a:visited, #submenuinv ul li a:visited {
	background:url(../../img/tabsubmenugif.gif) no-repeat;
}

#menu ul li a:link, #submenuaccount ul li a:link,
#menu ul li a:active, #submenuaccount ul li a:active,
#menu ul li a:visited, #submenuaccount ul li a:visited{
	background:url(../../img/tabmenugif.gif) no-repeat;
}

#submenumls ul li a:hover, #submenupsummary ul li a:hover, #submenupen ul li a:hover, #submenumortgage ul li a:hover, #submenuadvanced ul li a:hover, #submenuinv ul li a:hover {
	background:url(../../img/tabsubmenuovergif.gif) no-repeat;
	color:#99FF66;
}
#menu ul li a:hover, #submenuaccount ul li a:hover{
	background:url(../../img/tabmenuovergif.gif) no-repeat;
	color:#99FF66;
}

#submenumls ul li.activo a:link, #submenupsummary ul li.activo a:link, #submenupen ul li.activo a:link, #submenumortgage ul li.activo a:link, #submenuadvanced ul li.activo a:link, #submenuinv ul li.activo a:link,
#submenumls ul li.activo a:active, #submenupsummary ul li.activo a:active, #submenupen ul li.activo a:active, #submenumortgage ul li.activo a:active,#submenuadvanced ul li.activo a:active, #submenuinv ul li.activo a:active,
#submenumls ul li.activo a:visited, #submenupsummary ul li.activo a:visited, #submenupen ul li.activo a:visited, #submenumortgage ul li.activo a:visited, #submenuadvanced ul li.activo a:visited, #submenuinv ul li.activo a:visited {
	background:url(../../img/tabsubmenuovergif.gif) no-repeat;
	color:#C4EAFF;
}

#menu ul li.desactivo a:link, #submenuaccount ul li.desactivo a:link,
#menu ul li.desactivo a:active, #submenuaccount ul li.desactivo a:active,
#menu ul li.desactivo a:visited, #submenuaccount ul li.desactivo a:visited{
	background:url(../../img/tabmenudgif.png) no-repeat;
	color:#C4EAFF;
}

#submenumls ul li.desactivo a:link, #submenupsummary ul li.desactivo a:link, #submenupen ul li.desactivo a:link, #submenumortgage ul li.desactivo a:link,#submenuadvanced ul li.desactivo a:link, #submenuinv ul li.desactivo a:link,
#submenumls ul li.desactivo a:active, #submenupsummary ul li.desactivo a:active, #submenupen ul li.desactivo a:active, #submenumortgage ul li.desactivo a:active,#submenuadvanced ul li.desactivo a:active, #submenuinv ul li.desactivo a:active,
#submenumls ul li.desactivo a:visited, #submenupsummary ul li.desactivo a:visited, #submenupen ul li.desactivo a:visited, #submenumortgage ul li.desactivo a:visited, #submenuadvanced ul li.desactivo a:visited,#submenuinv ul li.desactivo a:visited {
	background:url(../../img/tabsubmenudgif.png) no-repeat;
	color:#C4EAFF;
}

#menu ul li.activo a:link, #submenuaccount ul li.activo a:link,
#menu ul li.activo a:active, #submenuaccount ul li.activo a:active,
#menu ul li.activo a:visited, #submenuaccount ul li.activo a:visited{
	background:url(../../img/tabmenuovergif.gif) no-repeat;
	color:#C4EAFF;
}

#menu ul li a:link.logoff,
#menu ul li a:active.logoff,
#menu ul li a:visited.logoff{
	margin: 0 0 0 15px;
	background:none;
	background-image:url(../../img/logoffpngG.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding:0;
	border:0;
	width: 60px;
	height:20px;
	}

#menu ul li a.logoff img{
	border:0;
	}
#menu ul li a:hover.logoff
{
	background-position: 0 -19px;
	}
	
*html #menu ul#menuppal li a.logoff {
	margin: 0 0 0 100px;
	width: 60px;
	height:20px;
	}

/*============================Identificadores de MLS y PS===================*/

#menu ul li#mlstitle,
#menu ul li#pstitle,
#menu ul li#pentitle,
#menu ul li#invtitle,
#menu ul li#foretitle,
#menu ul li#mortitle {
	margin: 0 0 0 120px;
	background-repeat: no-repeat;
	background-position:left;
	padding:0 0 0 20px;
	border:0;
	color:#FFFFFF;
	font-size:1.3em;
	font-weight:bold;
	height:20px;
	float:left;
	}
		
#menu ul li#mlstitle{		
			background-image:url(../../img/report.png);
			}
#menu ul li#pstitle{		
			background-image:url(../../img/psummary.png);
			}
#menu ul li#pentitle{		
			background-image:url(../../img/report.png);
			}
#menu ul li#foretitle{		
			background-image:url(../../img/report.png);
			margin: 0 0 0 50px;
			}
#menu ul li#mortitle{		
			background-image:url(../../img/report.png);
			margin: 0 0 0 50px;
			}
#menu ul li#invtitle{		
			background-image:url(../../img/report.png);
			margin: 0 0 0 50px;
			}
			
/*========================Boton de Suppor 02.09============*/

#menu ul li.support a {
	margin: 0 0 0 20px;
	background:none;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	padding: 0 0 5px 0;
	}


#menu ul li.support a:hover {
	margin: 0 0 0 20px;
	background:none;
	font-size:12px;
	color: #000066;
	padding: 0 0 5px 0;
	}


#regs {
	/*width: 800px;*/
	/*float:right;*/
	font-family: trebuchet ms;
	font-size:12px;
	padding:0;
	margin:0;
	}

/*---------------NEW---------*/
#searchhome{
	background-repeat:no-repeat;
	padding:0;
	width:350px;
	height: 400px;/*400-280= 120 mas o menos para la imagen de abajo*/
	margin: 7px 0 0 12px;
	}
	
	
#searchhome #imgtopsearch {
	margin: 5px 1px 3px 1px;	
	}
	*html #searchhome #imgtopsearch {
		margin: 5px 0 0 0;
		}
	
	html* #searchhome.floater{
	/*background-color:#DDE7F0;
	background-image:url(../../img/bgsearchhome.jpg);*/
	width:351px;
	height: 280px;
	margin: 6px -5px 0 14px;
	}
.floater{
	width:285px;
	margin:5px 0 7px 0;
	padding:5px 5px 0 5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
html > div.floater{
	width:240px;
	margin:5px;
	padding:5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
#loginhome{
	padding: 0 5px;
	}
	
	*html #loginhome{
	width:284px;
	}
	
	#banner3home{
		margin:0 0 0 -5px; 
		padding-top:37px;
		}
		*html #banner3home{
		margin:0 0 0 -5px; 
		padding-top:2px;
		}
		
	#loginhome h3{
	color: #FFFFFF;
	}
	#loginhome a{
	color: #223548;
	font-weight:bold;
	text-decoration:underline;
	font-size:1.1em;
	}
p{
	margin:0;
	padding:0 0 3px 0;
	font-size:1em;
	line-height:normal;
	}
h1 {
	font-size:2.5em;
	color:#0099FF;
	margin: 0;
	padding: 5px 0 8px 0;
	}
h2 {
	font-size:1.3em;
	color: #55689B;
	padding: 0;
	margin:0;
	}
h3 {
	font-size:1.3em;
	color: #FFFFFF /*#55689B*/;
	padding: 0 0 6px 0;
	margin:0;
	}	
#userlog {
	padding:0;
	margin:0;
	}

	#search input {
	font-size:0.8em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}
	.cajatextop
	{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
	margin:0px;
	border: solid 1px #20374A;
	height:18px;		
	}
	.boton2
	{
		font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
		/*background-color:#D3DEE7;
		color:#334457;*/
		margin:0px;
		padding:0px;
		border: solid 1px #20374A;
		height:20px;		
	}
	input.boton
	{
		background-position:center;
		background-color: #E9EEF0;
		margin: 1px;
		text-align:center;
		font: bold 12px arial, verdana, sans-serif;
		color:#16387C;
		border:1px solid #B0BEC7;
		cursor: pointer;
		height:18px;
	}
	input.botonReactivar
	{
		background-position:center;
		background-color: #FF0000;
		margin: 1px;
		text-align:center;
		font: bold 12px arial, verdana, sans-serif;
		color:#FFFFFF;
		border:1px solid #B0BEC7;
		cursor: pointer;
		height:36px;
	}	


	#tempmanager input {
	font-size:0.8em;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}
	#tempmanager input.botonlg, #tempmanager input.botonsml{
	border:0;
	}	
	

#userlog select, #search select, select#wiztype, select#datatype {
	font-size:0.8em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}	
	
	select#wiztype, select#datatype {
	font-size:1em;

	}
	#wiztabletop {
	font-size:0.8em;

	}
	
#search label, #search table td {
	font-size:0.8em;
	color:#334457;
	margin: 0;
	}
#search table td {
	font-size:0.7em;
	}
#userlog label,
.spanheaderlog 
{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
}
		
#bannerhrhome {
	margin: auto;
	text-align:center;
}

#centeringcontainer {
	margin:auto;
	text-align:center;
}
/*-------------------------Wizard---------------------------*/
#tempmanager input.botoncito,
.botoncito,
input.botonlg,
input.botonsml,
#tempmanager input.botonlg,
#tempmanager input.botonsml,
input#btf5,
#tempmanager input,
#registeruser input.botonlg,
#registeruser input.botonsml {
	width:89px;
	height:27px;
	background-image:url(../../img/wiznew.png);
	/*background-position:center;*/
	background-repeat:no-repeat;
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	background-color:transparent;
	}
input.botonlg,
#tempmanager input.botonlg {
	width:120px;
	background-image:url(../../img/wizlg.png);
	background-color:transparent;
	}
input.botonsml,
/*input#btf5,*/
#tempmanager input.botonsml{
	width:50px;
	background-image:url(../../img/wizsml.png);
	background-color:transparent;
	}
#tempmanager input.botonsml,
#tempmanager input.botonlg,
input#btf5 {
	padding:0;
	margin:0;
	background-color:transparent;
	}	
	
#lsMytemplate {
	width:250px;
	height:390px;
	}
.colunique {
	width:68%;
	text-align:left;
	/*margin:auto;*/
	padding:3px 3px 13px 3px;
	clear:both;
	/*border: solid 1px #20374A;*/
	}
.colhalf {
	/*width:58%;*/
	/*float:left;*/
	margin: 5px 19px 0 0;
	padding:3px;
	border: solid 1px #20374A;
	}
#tempcreator {
	width:48%;
	float:left;
	margin: 5px 0 0 0;
	padding:3px;
	border: solid 1px #20374A;
	}
	#tempcreator table td {
		font-size:0.8em;
	}
.colhalf table td{
	font-size:0.8em;

	}
.wizhighlight,
.wizhighlightnopad {
	font-size:1.3em;
	color: #55689B;
	padding: 0;
	margin:0;
	}
.wizhighlight {
	padding: 0 0 0 50px;

	}
.wizhighlightreq {
	font-size:1.3em;
	color: #55689B;
	padding: 0 0 0 250px;
	margin:0;
	}
		#dblclickalert {
	/*float:right;*/
	/*display:inline;*/
	width:90px;
	font-size:0.8em;
	background-color:#C1F394;
	border: solid 1px #00CC00;
	padding:3px;
	margin: 3px 0 0 0;
		}
	.smltext {
		font-size:0.8em;
		text-align:center;
		/*color: #112f7f;*/
		color: #ff0000;
		}
/*============================================PAG PRINCIPAL======================*/


table.monthtable {
	width: 98%;
	margin:0;
	padding:0;
	font-size:11px;
	font-weight:normal;
	border-collapse:collapse;
	}
	table.monthtable  th { /*color de las celdas de borde*/
	background-color: #B8E4DC;
		}
	table.monthtable  td, table.monthtable  th {
		padding:3px;
		border: 1px solid  #006699;
		margin: 0;
		border-collapse:collapse;
		}
	table.monthtable  td {
		text-align:center;
		/*height:30px;*/
		}
		
	table.monthtable  td.nothing {
		border:0;
		background-color:transparent;
		text-align:left;
		/*height:30px;*/
		}
	table.monthtable  th.thprincipal {
	text-transform:uppercase;
	background-color:#1680B8;
	color:#FFF;
		}
		
		/*==============31.07 Esitilos de maria para tooltips==================*/
		
		#content{
position: absolute;
left: -300px;
width: auto;
border: solid 1px #006699;
padding: 2px;
text-align:left;
background-color:#BACBDC;
background-image:url(../../img/bgtooltip.jpg);
visibility: hidden;
/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}

#content table td {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.7em;
}

#content table td.mortcellpadright {
padding-right:20px;
}

#content table tr.mortcelltitulo {
background-color:#B2E05D;
margin-top:5px;
padding-top:10px;
}

#color_row{
	background-color:#B2E05D;
}

table tr.mortcelltitulo {
background-color:#B2E05D;
margin-top:5px;
padding-top:10px;
}
	/*========================2.8.7 Estilos de GPS==================*/
	
	div#milerg {
	float: left;
	width:210px;
	margin-left: 10px;
	clear:right;
		/*display:inline;*/
		}
	div#refresh {
		float:left;
		/*margin-left: 10px;*/
		width:265px;
		/*width: 90%;*/
		}
		input#btf5 {
		float:right;
		
		/*display:inline;*/
		}	
	
	div#mapcrap {
	width: 420px;
	float:left;
	}
	div#mapcrap a {
	float: left;
	}

/*================================= Estilos de Pagina de Paypal 30.8.07============*/

 table#tablaplanespaypal {
 	border: solid 1px #006699;
	border-collapse:collapse;
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	font-weight:bold;
	}
 table#tablaplanespaypal td {
 	padding: 5px;
	margin: 0;
	}
 table#tablaplanespaypal tr,
  table#tablaplanespaypal td {
 	border-top: solid 1px #006699;
	border-collapse:collapse;
	}
	 table#tablaplanespaypal td form {
 	padding: 0;
	margin:0;
	}
table#tablaplanespaypal td.principal {
 	padding: 5px;
	background:#99C4DB;
	color:#003366;
	font-size:13px;
	font-weight:bold;
	}
/*=========================Layouts de division=================*/

div.wide {
	font-size: 1.2em;
	width: 65%;
	padding: 2px;
	float:left;
	margin: 0 0 0 10px;
	}
div.thin {
	width: 30%;
	padding:2px;
	float:left;
	margin: 0 10px 0 0;
	font-size: 1.2em;
	
	}
/*===============Styles for forms (general)  6.9.07=============*/
	.generalform input,
	.generalform select,
	.generalform textarea  {
		font-size:1.2em;
		width:134px;
		background-color:#D3DEE7;
		color:#334457;
		margin: 3px 3px 0 3px;
		border: solid 1px #20374A;
		}
	.generalform textarea  {
		width:260px;
		height:180px;
		}
	.generalform input.botonlg,
	.generalform input.botonsml {
	width:58px;
	height:23px;
	background-image:url(../../img/wizsml.png);
	background-position:center;
	background-repeat:no-repeat;
	/*background-color: none;*/
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	}
	.generalform input.botonlg {
	width:120px;
	background-image:url(../../img/wizlg.png);
	background-color:transparent;
	}
	 table.generalform td {
		font-size:0.7em;
		}
/*===================Main Links===========*/

form {
	margin:0;
	padding:0;
	}
	
/*====================Change PAssword========*/

table#changepw td {
	font-size:12px;
	}
	
/*=================Boton de Leyenda 26.09=======*/
#MyButton {
	float:left;
	margin:-15px 0 0 4px;
	}
	
	 #gridreg div#MyButton  {
	float:left;
	margin:-5px 0 0 4px;
	}
#MyButton a {
	width: 21px;
	height: 35px;
	margin: 0 0 0 10px;
	background-image:url(../../img/houses/verdebutton.png);
	background-position:center;
	background-repeat:no-repeat;
	}
/*=================Barra del User======================*/

div#deletechecked {
	float:left;
	margin:  7px 0 0 10px;
	}
div#deletechecked a#delete{
	width: 20px;
	height:20px;
	margin: 0 5px 0 0;
	background-image:url(../../img/trashcan_full.png);
	background-repeat:no-repeat;
	background-position:left;
	color:#006699;
	text-decoration:none;
	}
div#deletechecked a#print
{
	width: 20px;
	height:20px;
	margin: 0 0 0 0;
	background-image:url(../../img/printer.png);
	background-repeat:no-repeat;
	background-position:left;
	color:#006699;
	text-decoration:none;
}

table#regs td.tdmyclient 
{
	width: 300px;
	vertical-align: middle;
}


img#assignedimage
{
}

select#myclient 
{
	margin: 0 10px 0 0;
}


#found2
{
	float: right;
/*	width:125px;*/
	background-color:#C1F394;
	border: solid 1px #00CC00;
	padding:2px;
	margin:0px;
	font-weight:bold;
	width:98%; 
	height:10px; 
	font: 11px "Trebuchet MS", Tahoma, Arial, sans-serif;
}

/*--------------------------------MAINSEARCH-----------------*/	
	#mainsearch2 input,
	#mainsearch2 input#multiple,
	#mainsearch2 input#code1,
	#mainsearch2 #stat1,
	#mainsearch2 select,
	{
		font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
		width:94px;
		margin: 3px 3px 0 3px;
		/*border: solid 1px #20374A;*/
	}
		
	#mainsearch2 input#reset
	{
		font-size:12px;
		background-image:url(../../img/wizsmlreset.png);
		padding-left:10px;
	}
		
	#mainsearch2 select#stat1,
	#mainsearch2 input 
	{
		width:auto;
	}
	
	#mainsearch2 table td, #mainsearch2 label 
	{
		font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	}
			
	form#mainsearch2 
	{
		margin:0;
		padding:0;
	}
	
	
/*==================FIN MAIN SEARCH=================*/			 
table#popup 
{
	width:auto;
	border-collapse: collapse;
	text-align:left;
}
table#popup tbody td 
{
	border-bottom: 1px solid  #d8d8d8;
}

table#popup tbody td a:link.popupsl,
table#popup tbody td a:active.popupsl,
table#popup tbody td a:visited.popupsl,
table#popup tbody td.texttd
{
	color: #000;
	font-size: 12px;
	font-family: Arial,sans-serif;
	border-bottom: 1px solid  #d8d8d8;
	white-space: nowrap;
	font-weight: normal;
	height:16px;
	padding:0px 2px 0px 2px;	
	text-decoration: none;
}

table#popup tbody td a:hover.popupsl
{	
	text-decoration:underline;
}


table#popup tbody 
{	
	padding-top: 17px;
	cursor:default;
}
	
table#popup tbody td 
{
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}


/**************************TABLAS BANNER PUBLICIDAD PARFREE ****************************************************************************************/

table.bannerparfree
{
	width:auto;
	margin:0;
	padding:0;
	border-collapse:collapse;
	text-align:center;
}

.bannerparfreetit1
{
	font-size:14px;
	font-weight:bold;
	color:#3A66CC;
}

.bannerparfreetit2
{
	font-size:20px;
	font-weight:bold;
	color: #FF0000;
}

.bannerparfreetit3
{
	font-size:20px;
	font-weight:bold;
	color: #C24892;
}


/************************** GENERAL ****************************************************************************************/
input, select{
	font-size:12px;
	height:20px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin-bottom:0.2em;
	vertical-align:bottom;
	font-family:arial,sans-serif;
}
a, a:hover, a:visited, a:link{
	text-decoration:none;
	color:#1d6aaa;
}
