
.login .hd .c,
.login .ft .c {
 height: 20px;
}
.login .ft .c {
 height:21px;
}

.login .hd {
 background:transparent url(../../img/login_tl.png) no-repeat 0px 0px;
 margin-right:17px; /* space for right corner */
}

.login .hd .c {
 background:transparent url(../../img/login_tr.png) no-repeat right 0px;
 margin-right:-17px; /* pull right corner back over "empty" space (from above margin) */
}

.login .bd {
 background-color:#d5eaf4;
 margin-right:6px;
 padding:0;
}

.login .bd .c {
 background-color:#d5eaf4;
 margin-right:-6px;
 padding:0;
 height:130px;
}

.login .bd .c .s {
 background-color:#d5eaf4;
 padding:0px 10px 0px 10px;
 margin:0;
}

.login .ft {
 background:transparent url(../../img/login_bl.png) no-repeat 0px 0px;
 margin-right:17px;
}

.login .ft .c {
 background:transparent url(../../img/login_br.png) no-repeat right 0px;
 margin-right:-17px;
}
.loginhome{
font-weight:bolder;
padding:10px 0px 10px 0px;
margin:0px;
width:330px;
}
.loginhome h3{
font-size: x-small;
color: #4169BC;
text-align:right;
margin:0px;
padding:0px;
}
.loginhome a{
color: #858087;
text-decoration:underline;
border:none;
margin:0px;
padding:0px;
}
.loginhome label{
font-size:12px;
margin:0px;
padding:0px;

}
.caja{
	background-color:#fff;
	color: #000;
	width:100%;
	border: solid thin #fff;
	margin:0px;
	padding:0px;
	margin-top:2px;
	}
.btn_login{
	background: transparent url(../../img/button.png) no-repeat;
	width: 74px;
	height: 21px;
	border:none;
	margin:0px;
	padding:2px;
	margin-top:2px;
}

.no-border-search{
	border-style:none;
	background-image: none;
	background-color:#8AB420;
}

.box_result {
	background-image: url(http://www.reifax.com/img/bkgd_result.jpg); 
	width: 650px; 
	height: 170px; 
	margin-bottom: 2px; 
	border: 1px solid #FFF; 
	border-top: 1px solid #b8dae3;
}
.box_result_hover { 
	background-image: url(http://www.reifax.com/img/bkgd_result_over.jpg); 
	width: 650px; 
	height: 170px; 
	margin-bottom: 2px; 
	border: 5px solid #b8dae3; 
	border-top: 5px solid #b8dae3;
}
.paginationstyle{
	font-size:14px;
	padding-right:10px;
}
.paginationstyle a{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	text-align:center;
	text-decoration: none; 
	color: #5d7e87;
	font-weight:bolder;
	background-color: #FFFFFF;
	height:20px;
}
.paginationstyle a:hover {
	border:1px solid #b8dae3;
	color: #638425;
	background-color: #eaf5f7;
}
.paginationstyle span.current{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	font-weight: bold;
	background-color: #FFF;
	color: #000;
	height:20px;
}
.paginationstyle span.disableds{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
	height:20px;
}
.no-border{
	border-style:none;
	background-image:none;
	background-color:#FFF;
}
.no-border-gray{
	border-style:none;
	background-image:none;
	background-color:#EAEAEA;
}
.ux-carousel-container {
    overflow: hidden;
    position: relative;
}

.ux-carousel-slides-wrap {
    position: absolute;
    top: 0;
    left: 0;
	margin-top: 40px;
}

.ux-carousel-slide {
    float: left;
    overflow: hidden;
    text-align: center;
}

.ux-carousel-nav {
    height: 29px;
    width: 100%;
    background-color: #D5EAF4;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

.ux-carousel-caption {
    font-size: 20px;
    float: left;
    padding: 2px 5px;
    margin: 0;
    text-transform: none;
    color: #2B73E6;
    overflow: hidden;
    height: 29px;
    width: 100px;
}

.ux-carousel-nav-prev,
.ux-carousel-nav-next,
.ux-carousel-nav-play {
    height: 24px;
    display: block;
    float: right;
    margin: 2px 0;
    background-position: 0 24px;
}

.ux-carousel-nav .ux-carousel-nav-prev {
    background-image: url('../../img/prev.png');
    width: 31px;    
}

.ux-carousel-nav .ux-carousel-nav-next {
    background-image: url('../../img/next.png');
    margin-right: 2px;
    width: 30px;
}

.ux-carousel-nav-play {
    background-image: url('../../img/play_pause.png');
    width: 24px;
}

.ux-carousel-nav-play:hover {
    background-position: 0 0; 
}
.ux-carousel-nav-play.ux-carousel-playing {
    background-position: 24px 24px;
}
.ux-carousel-nav-play.ux-carousel-playing:hover {
    background-position: 24px 0;
}

.ux-carousel-nav-prev:hover,
.ux-carousel-nav-next:hover {
    background-position: 0 48px;
}

.ux-carousel-nav-prev.ux-carousel-nav-disabled,
.ux-carousel-nav-next.ux-carousel-nav-disabled {
    background-position: 0 0;
}

.customInfoBox-body{
	background-image: url("http://www.reifax.com/img/bkgd_result.jpg");
	border: 3px solid #B8DAE3;
	padding: 2px 8px 8px;
	position: relative;
	z-index:500;
	left:0px;
	top:0px;
	min-width: 160px;
	height: 145px;
}

.VE_Pushpin_Popup_Title  {
	color:#0066CC;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}

.VE_Pushpin_Popup_Body  {
	color:#000000;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:8pt;
	font-weight:normal;
}

.grid_comparables .x-grid3-header,
.grid_comparado .x-grid3-header {
	background-color:#FFF;
	background-image:none;
}

.grid_comparado .x-grid3-hd-inner {
	color:#FFF;
	background-color:#88AF3F;
}

.grid_comparables .x-grid3-hd-inner {
	color:#FFF;
	background-color:#376A95;
}

.grid_comparado .x-grid3-row-over,
.grid_comparables .x-grid3-row-over {
	background-color: #ACCFE3;
	background-image: none;
}

.grid_comparado .x-grid3-row-selected,
.grid_comparables .x-grid3-row-selected {
	background-color:#FFFFFF !important;
	background-image:none;
	border:1px solid #EEEEEE;
}

.grid_comparado .x-grid3-header-offset,
.grid_comparables .x-grid3-header-offset{
	padding-left: 0px;
}

.grid_comparables td.x-grid3-hd-over .x-grid3-hd-inner, 
.grid_comparables td.sort-desc .x-grid3-hd-inner, 
.grid_comparables td.sort-asc .x-grid3-hd-inner, 
.grid_comparables td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-color:#376A95;
	background-image:none;
}
.grid_comparado td.x-grid3-hd-over .x-grid3-hd-inner, 
.grid_comparado td.sort-desc .x-grid3-hd-inner, 
.grid_comparado td.sort-asc .x-grid3-hd-inner, 
.grid_comparado td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-color:#88AF3F;
	background-image:none;
}

/*clase de realtor web*/

.search_realtor_titulo{
	    color: #000;
		font-weight:bold;	
	}
.search_realtor_fondo{
		background:url(../../img/bkgd_srch.png) repeat-x #8AB420;
		height:130px;
		margin-top:-5px; 
		padding-top:10px; 
		padding-left:15px;
	}

.overview_realtor_titulo{
	      clear:both;
		  color:#2b73e6;
		  float:left;
		  font-weight:bold;
		  font-size:15px;
		  width:415px; 
		  padding-left:5px;
		  background-color:#FFF;"
	}
	.overview_realtor_titulop{
	       font-size:20px;
		}
	.overtab_realtor_titulo{
	  color:#15428b;
	  font-size:20px;
	  margin-left:8px; 
	  float:left;"
	}
	.fondo_realtor_result{
		width:100%; 
		margin:auto; 
		background-color:#FFF;
	}
	.fondo_realtor_result_tab{
		background-color:#FFF;
	}
	.treePanel-no-image{
		background-image:none;
	}
	
	.home{
		background: url("http://www.reifax.com/img/phone-type.gif") no-repeat scroll 0px 2px transparent;
		height: 12px;
		padding-left:14px;
	}
	.office{
		background: url("http://www.reifax.com/img/phone-type.gif") no-repeat scroll 0px -10px transparent;
		height: 12px;
		width: 10px;
		padding-left:14px;
	}
	.cell{
		background: url("http://www.reifax.com/img/phone-type.gif") no-repeat scroll 0px -21px transparent;
		height: 12px;
		width: 10px;
		padding-left:14px;
	}
	.agentprincipal{
		background: url("http://www.reifax.com/img/ix1y64.gif") no-repeat scroll 1px 2px transparent;
		height: 12px;
		width: 10px;
		padding-left:14px;
	}
	.overviewBotonCss3{
		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
		/* Safari 5.1+, Chrome 10+ */
		background: -webkit-linear-gradient(top, #FFF, #EEE);
		/* Firefox 3.6+ */
		background: -moz-linear-gradient(top, #FFF, #EEE);
		/* Opera 11.10+ */
		background: -o-linear-background(top, #FFF, #EEE);
		/* IE 10 */
		background: -ms-linear-background(top, #FFF, #EEE);
		/* estándar */
		background: linear-background(top, #FFF, #EEE);
		
		border: thin solid #BBBBBB;
		border-radius: 4px 4px 4px 4px;
		color: #1D6AAA;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 15px;
	}
	
	.reifaxMenu{
		height:23px; 
		line-height:23px; 
		padding-left:2px; 
		padding-right:10px; 
		float:right;
	}
	
	.reifaxMenu ul{
		list-style-image:none; 
		list-style-position:outside; 
		list-style-type:none; 
		font-size:12px; 
		text-align:center;
	}
	
	.reifaxMenu li{
		line-height:19px; 
		padding:0 1px; 
		margin-left:10px; 
		float:left;
	}