h1 { font-weight: normal; padding-left: 20px; background:#ffe; }
/* ------------------------------------- la zone du lasso (mouseover) */
#region {
	display: block;
  position: absolute; 
	top: 0px;
	left: 0px;
  width: 1px;
  height:1px;
  border: 1px solid #444;
  background-color:blue;
  filter:alpha(opacity=25);
  background-image: url('http://pagesperso-orange.fr/stephane.moriaux/truc/suisse/fond_zoom_blc.gif');
  }
/* ------------------------------------- les 4 points de la selection */
#point1, #point2, #point3, #point4 {
	position: absolute; 
	top: 0px;
	left: 0px;
	height: 5px; width: 5px;
	margin: 0px;
	background-color: red;
}

/* ----------------------les lignes de la selection   */
#4points {
	display: block;
  position: absolute; 
	top: 0px;
	left: 0px;
  width: 1px;
  height:1px;
  border: 1px solid red;
  background-image: url('http://pagesperso-orange.fr/stephane.moriaux/truc/suisse/fond_zoom_nr.gif');
  }  

.celda_normal {background-color: white;}
.celda_on {background-color: #ffa07a;}
.celda_over {background-color: #d3d3d3;}