/* CSS Document */

.pin_css {
width:25px;
padding-top:6px;
padding-bottom:1px;
overflow:visible;
cursor:pointer;
font-family:Tahoma;
font-weigth:bold;
text-align:center;
vertical-align:middle;
font-size:7.5pt;
color:black;
text-decoration:none;
}


/*MAPAS*/

	.mapon {
		position:relative; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:visible;*/
		display:block;
		}
	.mapoff{
		position:absolute; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:hidden;*/
		display:none;
		}
	
#mymapcontroldiv {
	width: 920px;
	height: 350px;
	}

.rowluz{background-color:#ACCFE3}
.row1{background-color:white}
.row2{background-color:#F3F3F3}


#gridtooltip{
position: absolute;
left: -300px;
width: auto;
border: none;
padding: 5px;
text-align:left;
background-color:#BACBDC;
background-image:url(../../img/bgtooltip.jpg);
visibility: hidden;
/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#gridtooltip table td {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.8em;
}

#gridtooltip table td.gridttdata {
color: #4184E9
}


/*Scott*/
div.pagination {
	/*padding:3px;
	margin:3px;*/
	text-align:center;
	
	float:left;
	display:inline;
}

div.pagination img {
	float:left;
	display:inline;
}

table#regs td.paginationstyle a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #88AF3F;
	background-color: #FFFFFF;
	
	/*display:inline;*/


}
/*==========================================================================================*/
/*===========================================GRID===============================================*/
/*==========================================================================================*/


//* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;
	border: 1px solid #963;
	height: 285px;
	overflow: auto;
	width: 756px
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: auto;
	width: 756px
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
	width: 740px
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
	width: 756px
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors       *
html>body thead.fixedHeader th {
	width: 200px
}

html>body thead.fixedHeader th + th {
	width: 240px
}

html>body thead.fixedHeader th + th + th {
	width: 316px
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        *
html>body tbody.scrollContent td {
	width: 200px
}

html>body tbody.scrollContent td + td {
	width: 240px
}

html>body tbody.scrollContent td + td + td {
	width: 300px
}*/