/*----- CSS Carlos   */
/*Scott*/
div.pagination {
	/*padding:3px;
	margin:3px;*/
	text-align:center;
	
	float:left;
	display:inline;
}

div.pagination img {
	float:left;
	display:inline;
}

table#regs td.paginationstyle a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #88AF3F;
	background-color: #FFFFFF;
	
	/*display:inline;*/


}
table#regs td.paginationstyle a:hover, table#regs td.regancho a:active {
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
}
table#regs td.paginationstyle span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
	
	/*float:left;
	display:inline;*/
}
table#regs td.paginationstyle span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
	
		/*float:left;
	display:inline;*/
}


.pin_css {
width:25px;
padding-top:6px;
padding-bottom:1px;
overflow:visible;
cursor:pointer;
font-family:Tahoma;
font-weigth:bold;
text-align:center;
vertical-align:middle;
font-size:7.5pt;
color:black;
text-decoration:none;
}
/*--------CSS deJAime aplicado ald e arriba*/

table#regs {
width:100%;
}
/*table#regs td { solo para testing
background:#009900;
border: solid 1 px #000066;
}*/
table#regs td.regancho {
	width:360px;
	text-align:center;
	}
table#regs td.tdtemplates {
	width:170px;
	text-align:right;
	}
/*--------------------------------------*/


/*MAPAS*/

	.mapon {
		position:relative; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:visible;*/
		display:block;
		}
	.mapoff{
		position:absolute; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:hidden;*/
		display:none;
		}
	
#mymapcontroldiv {
	width: 920px;
	height: 350px;
	}

.rowluz{background-color:#ACCFE3}
.row1{background-color:white}
.row2{background-color:#F3F3F3}
.cabecera{
	color:#FFFFFF;
	font-size:12px;
	font-family: trebuchet ms;
	text-align:center;
	}
.alright {
	text-align:right;
	}
	
/*====================================== ZONA GRID =================================================*/
#gridppal thead tr {
	background-color:#376A95;
	/*position:fixed;*/
	/*#2B5273*/
}
.gridtooltip td{
	font-size:0.8em;
	}
.rowsel {
	background-color:#00CCFF;
	}

#gridppal thead th,
#gridppal tbody td {
border-collapse:collapse;
padding:0 5px 0 5px;
white-space: nowrap;
	}	

#gridtooltip{
position: absolute;
left: -300px;
width: auto;
border: none;
padding: 5px;
text-align:left;
background-color:#BACBDC;
background-image:url(../../img/bgtooltip.jpg);
visibility: hidden;
/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#gridtooltip table td {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.8em;
}

#gridtooltip table td.gridttdata {
color: #4184E9
}

/* Fin CSS Jaime */

/*======================================00*/
/* This makes the scrolling table work */



div#tbl-container {
width: 418px;
height: 252px;
overflow: auto;
scrollbar-base-color:#ffeaff;
}

table {
table-layout: fixed;
border-collapse: collapse;
background-color: WhiteSmoke;
}

div#tbl-container table th {
width: 100px;
}

thead th, thead th.locked	{
font-size: 14px;
font-weight: bold;
text-align: center;
background-color: navy;
color: white;
border-right: 1px solid silver;
position:relative;
cursor: default; 
}
	
thead th {
top: expression(document.getElementById("tbl-container").scrollTop-2); /*IE5+ only*/
z-index: 20;
}

thead th.locked {z-index: 30;}

td.locked,  th.locked{
background-color: #ffeaff;
font-weight: bold;
border-right: 1px solid silver;
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /*IE5+ only*/
position: relative;
z-index: 10;
}

