/*----- CSS Carlos   */



//====================================================================================

.VE_Panel_title{
	position:absolute;
	padding-top:2px;
	padding-left:5px;
	overflow:hidden;
	z-index:32;
	font-size:20pt;
	font-weight:bold;
	color:red;
	text-transform:uppercase;
	cursor:default;
	white-space:nowrap;
	text-overflow:ellipsis
}

.VE_Pushpin_Popup_Title{
color:red;
font-family:Verdana,sans-serif;
font-size:20pt;font-weight:bold;
padding-bottom:5px
}

.VE_Pushpin_Popup_Body{
color:red;
font-weight:normal;
font-family:Verdana,sans-serif
;font-size:20pt
}

.VE_Pushpin_Popup_Link{
color:red;
font-weight:bold;
font-family:Verdana,sans-serif;
font-size:20pt;
text-decoration:underline
}

//====================================================================================



/*Scott*/
div.pagination {
	/*padding:3px;
	margin:3px;*/
	text-align:center;
	
	float:left;
	display:inline;
}

templatesdiv{
	float:left;
}

div.pagination img {
	float:left;
	display:inline;
}

table#regs td.paginationstyle a, 
table#mortpag td.paginationstyle a{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	text-align:center;
	text-decoration: none; 
	color: #88AF3F;
	background-color: #FFFFFF;
	
	/*display:inline;*/


}
table#regs td.paginationstyle a:hover, table#regs td.regancho a:active,
table#mortpag td.paginationstyle a:hover, table#mortpag td.paginationstyle a:active {
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
}
table#regs td.paginationstyle span.current,
table#mortpag td.paginationstyle span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
	
	/*float:left;
	display:inline;*/
}
table#regs td.paginationstyle span.disabled,
table#mortpag td.paginationstyle span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
	
		/*float:left;
	display:inline;*/
}


.pin_css {
width:25px;
padding-top:6px;
padding-bottom:1px;
overflow:visible;
cursor:pointer;
font-family:Tahoma;
font-weight:bold;
text-align:center;
vertical-align:middle;
font-size:7.5pt;
color:black;
text-decoration:none;
}
/*--------CSS deJAime aplicado ald e arriba*/

table#regs {
width:100%;
}
/*table#regs td { solo para testing
background:#009900;
border: solid 1 px #000066;
}*/
table#regs td.regancho {
	width:310px;
	text-align:center;
	}
table#regs td.tdtemplates {
	width:190px;
	text-align:left;
	}
	
	#gridpagingbar {
	/*width:15%;*/
	float:left;
	margin-right:5px;/*used to be20*/
	/*display: inline;*/
	}
/*--------------------------------------*/


/*======================MAPAS================================*/

	.mapon {
		position:relative; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:visible;*/
		display:block;
		}
	.mapoff{
		position:absolute; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:hidden;*/
		display:none;
		}
	
#mymapcontroldiv {
	width: 920px;
	height: 350px;	
	}

.imsorted{
	background-color:#D1E4EF;
	color:#004A6F;
}
.rowluz{background-color:#ACCFE3}
.row1{background-color:white}
.row2{background-color:#F3F3F3}
.cabecera{
	color:#FFFFFF;
	font-size:12px;
	font-family: trebuchet ms;
	}
.alright {
	text-align:right;
	}

.ero, .ero-shadow, ero-body,
.VE_Pushpin_Popup_Title,
.VE_Pushpin_Popup_Body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #4184E9;
	}

	
/*====================================== ZONA GRID =================================================*/

div.scrollTableContainer {
	width: 945px;
	margin: 0 auto 0 auto;
	overflow: auto;
	text-align:center;
	position:relative;
	float:left;

}

div.scrollTableContainer table {
width:auto;
/*table-layout: fixed;*/
border-collapse: collapse;
text-align:left;
}

div.scrollTableContainer thead tr {
	background-color:#376A95;
}

div.scrollTableContainer table tbody {
	padding-top: 17px;
}
	
div.scrollTableContainer thead tr	{
    /* Causes the pixel header row to stay fixed in IE*/


	top: expression(offsetParent.scrollTop-2);

	/* This fixes a strange bug in IE where the header row would "shift" 1px to
	   the right after the table was scrolled down.  It would not shift back
       after scrolling all the way, which made my first solution based on
       offSetParent.scrollTop == 0 not an effective solution*/
    left: expression(typeof(myvar) == 'undefined' ? 0+"px"+(myvar='true') : -1+"px");
	position:relative;
	z-index:1000;
}
div.scrollTableContainer thead th	{
	text-transform:capitalize;
	cursor:pointer;
	}

div.scrollTableContainer thead th,
div.scrollTableContainer tbody td {
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
	}

/*prevent Mozilla scrollbar from hiding cell content*/
div.scrollTableContainer table td:last-child {padding-right: 60px;}


/*=========================================================================================*/

.gridtooltip td{
	font-size:0.8em;
	}
.rowsel {
	background-color:#00CCFF;
	}


	/*=================================JAIME================================*/

/*#gridppal thead tr {
	background-color:#376A95;
	/osition:fixed;*/
	/*#2B5273
}*/
/*#gridppal thead th,
#gridppal tbody td {
border-collapse:collapse;
padding:0 5px 0 5px;

	}	
div.scrollTableContainer {
    overflow-y: hidden;
	overflow-x:scroll;
	/*overflow: auto;
	width: 950px;
	margin: 15px auto 0 auto;
	position: relative;
	/*font: "trebuchet ms";
}

/*html>/*body div.scrollTableContainer table>tbody	{  
	overflow:auto;
    overflow-x: hidden;
	height:600px;
	/*max-height: 500px;
}*/

/* All browsers accept this, but we are targeting IE with this rule */
/*div.scrollTableContainer table {
	width: 945px;
	border-collapse:separate;
	margin: 0 16px 0 0;
	overflow-x: auto;
}*/


/*===============================================================================================*/	
	

#gridtooltip{
position: absolute;
left: -300px;
width: auto;
border: solid 1px #006699;
padding: 5px;
text-align:left;
background-color:#BACBDC;
background-image:url(../../../../AppServ/www/Xima/img/bgtooltip.jpg);
visibility: hidden;
/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);*/
}

#gridtooltip table td {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:0.7em;
}

#gridtooltip table td.gridttdata {
	color: #42B1E8;
}

#registros {
	width:94%;
	/*text-align:right;
	background-color:#0099CC;
	float:left;
	display:inline;*/
	clear:right;
	padding:0;
	margin:0 38px 0 5px;
	}

	
	div#contcalcularcomp{
	float:right;
	width: 350px;
	clear:right;
	}
	
table#calcularcomp {
	font-size: 12px;
	color:#006600;
	}
table#calcularcomp td#calculate {
	text-decoration:underline;
	font-weight: bold;
	}
	
/*-------------------CSS de MAria-------------------*/
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.suckerdiv ul{
margin: 0;
padding: 0;
list-style-type: none;
width: auto; /* Width of Menu Items */
/*border-bottom: 1px solid #ccc;*/
}
	
.suckerdiv ul li{
position: relative;
}
	
/*Sub level menu items */
.suckerdiv ul li ul{
position: absolute;
width: auto; /*sub menu width*/
top: 0;
visibility: hidden;
}

/* Sub level menu links style */
.suckerdiv ul li a{
display: inline;
overflow: auto; /*force hasLayout in IE7 */
color: black;
text-decoration: none;
background: #fff;
padding: 1px 5px;
/*border: 1px solid #ccc;*/
border-bottom: 0;
}

.suckerdiv ul li a:visited{
color: black;
}

.suckerdiv ul li a:hover{
background-color: white;
}

.suckerdiv .subfolderstyle{
/*background: url(media/arrow-list.gif) no-repeat center right;*/
}

	
/* Holly Hack for IE \*/
* html .suckerdiv ul li { float: left; height: 1%; }
* html .suckerdiv ul li a { height: 1%; }
/* End */

/*===================changes 02.07.07===========*/
.botoncalculate {
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
	cursor:pointer;
	text-align:center;
	width: 70px;
	margin: 3px auto;
	
}

/*===================mlsfcomprent 10.7.7============*/

div#searchrental {
	margin:auto;
	width:93%;
	text-align:center;
	/*float:left;*/
	clear:both;
	}
	div#searchrental table {
	/*float:left;*/

	}

/* Fin CSS Jaime */
