/* CSS Document */

body {
	background-image:url(../../img/bghead.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#D5EAF4;
	margin:0;
	padding:0;
	font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
	font-size:67%;
	text-align:center;
	}
	body.bodylg {
	background-image:url(../../img/bghead2.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#D5EAF4;
	}
	
#maincontainer {
	width:978px;
	margin:auto;
	text-align:left;
	/*overflow:auto;*/
	}
	
	#header {
		width:978px;
		height:35px;
		background-image:url(../../img/header.jpg);
		margin:auto;
		/*clear:both;*/
		}
		#headerlg {
		width:978px;
		height:60px;
		background-image:url(../../img/header2.jpg);
		margin:auto;
		/*clear:both;*/
		}
	#submenu {
		width:auto;/*948px; /* 948+30=978*/
		height:16px; /*16+4=20*/
		padding: 2px 15px;
		background-image:url(../../img/bgsubmenu.jpg);
		color:#2E455A;
		font-size:0.9em;
		clear:both;
		}

	#maincontent {
		width:auto; /*958px; /* 958+20=978*/
		padding: 5px 10px;
		background-image:url(../../img/bg.jpg);
		overflow:auto;
		margin:auto;
		}
	#footer {
		width: auto; /*958px; /* 958+20=978*/
		height: 16px; /*16+4=20*/
		padding: 2px 10px;
		margin:0;
		background-image:url(../../img/footer.jpg);
		color:#FFFFFF;
		font-size: 0.8em;
		}
	.geniuswork {
		width: auto; /*958px; /* 958+20=978*/
		font-size:0.2em;
		height:0px;
		padding:0;
		margin:0;
		clear:both;
		/*background-color: #009900;*/
		}
	.visible {
		display:block;
		}
	.invisible{
		display:none;
		}
/*---------------------------MENU------------------------------*/
#menu {
	float:right;
	width:50%;
	/*height:25px;*/
	padding: 2px 10px 0 2px;
	margin:16px 0 0 0;
	overflow:auto;
	}
	
	#headerlg div#menu {
	float:right;
	width:50%;
	/*height:25px;*/
	padding: 2px 10px 0 2px;
	margin:36px 0 0 0;
	overflow:auto;
	}

/**html #menu {
	margin:46px 0 0 0;
	}*/

#menu ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#menu ul li {
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	float:left;
}

#menu ul li a {
	text-align:center;
	margin: 0 0 0 2px;
	padding: 4px 0 0 0;
	width: 110px;
	height:21px;
	float:left;
	font-size:1.2em;
	color:#435A6D;
	background-image:url(../../img/tabmenuover.png);
	text-decoration:none;
}

#menu ul li a:link,
#menu ul li a:active,
#menu ul li a:visited {
	background-image:url(../../img/tabmenu.png);
}
#menu ul li a:hover {
	background-image:url(../../img/tabmenuover.png);
	color:#FFFFFF;
}
/*----------------Otros Elementos---------------*/

#regs {
	/*width: 800px;*/
	/*float:right;*/
	font-family: trebuchet ms;
	font-size:12px;
	padding:0;
	margin:0;
	}

#searchhome{
	/*background-color:#DDE7F0;*/
	background-image:url(../../img/bgsearchhome.jpg);
	background-repeat:no-repeat;
	width:340px;
	height: 400px;/*400-280= 120 mas o menos para la imagen de abajo*/
	margin: 7px 0 0 14px;
	}
	
	*html #searchhome{
	/*background-color:#DDE7F0;*/
	background-image:url(../../img/bgsearchhome.jpg);
	width:351px;
	height: 280px;
	margin: 7px 0 0 6px;
	}
.floater{
	width:285px;
	margin:5px 5px 0 5px;
	padding:5px 5px 0 5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
html > div.floater{
	width:240px;
	margin:5px;
	padding:5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
#loginhome{
	background-color:#A5BFD8;
	border: solid 1px #335073;
	padding: 0 5px;
	}

	#loginhome h3{
	color: #FFFFFF;
	}
	#loginhome a{
	color: #223548;
	font-weight:bold;
	text-decoration:none;
	font-size:1.1em;
	}
p{
	margin:0;
	padding:0 0 3px 0;
	font-size:1em;
	line-height:normal;
	}
h1 {
	font-size:1.6em;
	color:#0099FF;
	}
h3 {
	font-size:1.3em;
	color: #FFFFFF /*#55689B*/;
	padding: 0 0 6px 0;
	margin:0;
	}	
#userlog {
	padding:0;
	margin:0;
	}
#userlog input, #search input {
	font-size:0.8em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1 px #20374A;
	}	
#userlog select, #search select {
	font-size:0.8em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}	
#search label, #search table td {
	font-size:0.8em;
	color:#334457;
	margin: 0;
	}
#userlog label, #search table td {
	font-size:0.7em;
	}
#bannerhrhome {
	margin: auto;
	text-align:center;
}

#centeringcontainer {
	margin:auto;
	text-align:center;
}
