/* CSS Document */

body {
	background-image:url(../../img/bghead.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#D5EAF4;
	margin:0;
	padding:0;
	font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
	font-size:65%;
	text-align:center;
	}
	
	body.bodylg {
	background-image:url(../../img/bghead2.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#D5EAF4;
	}
	body.popbodyup {
	background-image:url(../../img/bg.jpg);
	background-repeat:repeat-y;
	background-color:#D5EAF4;
	}
	

	
#maincontainer {
	width:600px;
	margin:auto;
	text-align:left;
	/*overflow:auto;*/
	}
	
	#header {
		width:600px;
		height:40px;
		background-image:url(../../img/header.jpg);
		margin:0 auto;
		/*clear:both;*/
		}
		*html #header {
		height:35px;
		}
	#submenumls,
	#submenupsummary {
		width:auto;/*948px; /* 948+30=978*/
		height:21px; /*21+4=25*/
		padding: 2px 15px 2px 10px;
		/*background-image:url(../../img/bgsubmenu.jpg);*/
		background-image:url(../../img/bg.jpg);
		color:#2E455A;
		font-size:1.1em;
		clear:both;
		}

	#maincontent {
		width:auto; /*958px; /* 958+20=978*/
		padding: 5px 10px;
		background-image:url(../../img/bg.jpg);
		overflow:auto;
		margin:auto;
		}
	#piepag {
		width: auto; /*958px; /* 958+20=978*/
		height: 16px; /*16+4=20*/
		padding: 2px 10px;
		margin:0;
		background-image:url(../../img/footer.jpg);
		color:#FFFFFF;
		font-size: 0.8em;
		}
	.geniuswork {
		width: auto; /*958px; /* 958+20=978*/
		font-size:0.2em;
		height:0px;
		padding:0;
		margin:0;
		clear:both;
		/*background-color: #009900;*/
		}
	.visible {
		display:block;
		}
	.invisible{
		display:none;
		}
/*---------------------------MENU------------------------------*/


	
#menu {
	float:left;
	width:100%;
	/*height:25px;*/
	padding: 0 2px 0 10px;
	margin:19px 0 0 0;
	overflow:auto;
	}
	
		#headerlg div#menu {
		float:right;
		width:50%;
		/*height:25px;*/
		padding: 2px 10px 0 2px;
		margin:37px 0 0 0;
		overflow:auto;
		}

*html #menu {
	overflow: hidden;
	}

#menu ul,
#submenupsummary ul,
#submenumls ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#menu ul li,
#submenupsummary ul li,
#submenumls ul li {
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	float:left;
}

		#headerlg div#menu ul li a {
			/*width: 110px;*/
			/*background-image:url(../../img/tabmenuoverhome.png);*/
			font-size:1em;
		}
		
		/*#headerlg div#menu ul li a:link,
		#headerlg div#menu ul li a:active,
		#headerlg div#menu ul li a:visited {
			background-image:url(../../img/tabmenuhome.png);
		}
		#headerlg div#menu ul li a:hover {
			background-image:url(../../img/tabmenuoverhome.png);
			color:#FFFFFF;
		}*/

#menu ul li a,
#submenumls ul li a,
#submenupsummary ul li a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	margin: 0 0 0 2px;
	padding: 4px 0 0 0;
	width: 78px;
	height:17px;
	float:left;
	font-size:0.8em;
	/*text-transform:uppercase;*/
	font-weight:bold;
	color:#FFFFFF;
	/*background-image:url(../../img/tabmenuovergif.gif);*/
	text-decoration:none;
}

	*html #menu ul li a,
	*html #submenumls ul li a,
	*html #submenupsummary ul li a {
		height:21px;

}

#menu ul li a {
	font-size:0.9em;
}


#menu ul li a:link,
#menu ul li a:active,
#menu ul li a:visited,
#submenumls ul li a:link, #submenupsummary ul li a:link,
#submenumls ul li a:active, #submenupsummary ul li a:active,
#submenumls ul li a:visited, #submenupsummary ul li a:visited {
	/*background-color: #0099FF;*/
	color:#000066;
	background-image:url(../../img/tabmenugif.gif);
}
#menu ul li a:hover,
#submenumls ul li a:hover, #submenupsummary ul li a:hover {
	background-image:url(../../img/tabmenuovergif.gif);
	/*background-color: #00CCFF;*/
	color:#99FF66;
}

#menu ul li.activo a:link,
#menu ul li.activo a:active,
#menu ul li.activo a:visited,
#submenumls ul li.activo a:link, #submenupsummary ul li.activo a:link,
#submenumls ul li.activo a:active, #submenupsummary ul li.activo a:active,
#submenumls ul li.activo a:visited, #submenupsummary ul li.activo a:visited {
	background-image:url(../../img/tabmenuovergif.gif);
	/*background-color:#006699;*/
	color:/*#ffffff*/#435A6D;
}

#menu ul li a:link.logoff,
#menu ul li a:active.logoff,
#menu ul li a:visited.logoff{
	position:relative;
	top:0px;
	left:/*300px;*/ 20px;
	margin: 0 0 0 35px;
	background-image:url(../../img/logoffpng.png);
	background-repeat: no-repeat;
	padding:0;
	border:0;
	width: 60px;
	height:20px;
	}
	*html #menu ul li a:link.logoff,
	*html #menu ul li a:active.logoff,
	*html #menu ul li a:visited.logoff{
		position:absolute;
		top:0px;
		left: 620px;
		margin: 0 0 0 35px;
		}	

#menu ul li a.logoff img{
	border:0;
	}
#menu ul li a:hover.logoff,
{
	background-image:url(../../img/logoffpngover.png);
	background-repeat: no-repeat;
	}
/*-------------------------SUBMENUS-----------------------------------*/
/*#submenu ul {
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#submenu ul li {
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	float:left;
}
#submenu ul li a {
	text-align:center;
	margin: 0 0 0 2px;
	padding: 4px 0 0 0;
	width: 81px;
	height:21px;
	float:left;
	font-size:1.2em;
	color:#435A6D;
	background-image:url(../../img/tabmenuover.png);
	text-decoration:none;
	}*/
	
/*----------------Otros Elementos---------------*/

#regs {
	/*width: 800px;*/
	/*float:right;*/
	font-family: trebuchet ms;
	font-size:12px;
	padding:0;
	margin:0;
	}

#searchhome{
	/*background-color:#DDE7F0;*/
	background-image:url(../../img/bgsearchhome.jpg);
	background-repeat:no-repeat;
	width:340px;
	height: 400px;/*400-280= 120 mas o menos para la imagen de abajo*/
	}
	
/*div#searchhome.floater{
	margin: 7px 0 0 10px;
	}*/
	
	*html #searchhome.floater{
	/*background-color:#DDE7F0;*/
	background-image:url(../../img/bgsearchhome.jpg);
	width:351px;
	height: 280px;
	margin: 7px -5px 0 14px;
	}
.floater{
	width:285px;
	margin:5px 0 0 0;
	padding:5px 5px 0 5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
html > div.floater{
	width:240px;
	margin:5px;
	padding:5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
#loginhome{
	background-color:#A5BFD8;
	border: solid 1px #335073;
	padding: 0 5px;
	}

	#loginhome h3{
	color: #FFFFFF;
	}
	#loginhome a{
	color: #223548;
	font-weight:bold;
	text-decoration:underline;
	font-size:1.1em;
	}
p{
	margin:0;
	padding:0 0 3px 0;
	font-size:1em;
	line-height:normal;
	}
h1 {
	font-size:1.6em;
	color:#0099FF;
	}
h2 {
	font-size:1.3em;
	color: #55689B;
	padding: 0;
	margin:0;
	}
h3 {
	font-size:1.3em;
	color: #FFFFFF /*#55689B*/;
	padding: 0 0 6px 0;
	margin:0;
	}	
#userlog {
	padding:0;
	margin:0;
	}
#userlog input, #search input, #tempmanager input {
	font-size:0.8em;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1 px #20374A;
	}	
#userlog select, #search select, select#wiztype {
	font-size:0.8em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}	
	#userlog input {
	font-size:0.9em;
	}
	
	select#wiztype {
	font-size:1em;

	}
	#wiztabletop {
	font-size:0.8em;

	}
	
#search label, #search table td {
	font-size:0.8em;
	color:#334457;
	margin: 0;
	}
#userlog label, #search table td {
	font-size:0.7em;
	}
		
#bannerhrhome {
	margin: auto;
	text-align:center;
}

#centeringcontainer {
	margin:auto;
	text-align:center;
}
/*-------------------------Wizard---------------------------*/
#tempmanager input.botoncito,
.botoncito,
input.botonlg,
input.botonsml {
	width:89px;
	height:27px;
	background-image:url(../../img/wiznew.png);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	}
input.botonlg {
	width:120px;
	background-image:url(../../img/wizlg.png);
	}
input.botonsml {
	width:50px;
	background-image:url(../../img/wizsml.png);
	}
#lsMytemplate {
	width:250px;
	height:390px;
	}
.colunique {
	width:auto;
	text-align:left;
	margin:auto;
	padding:3px 3px 3px 30px;
	clear:both;
	border: solid 1px #20374A;
	}
.colhalf {
	width:48%;
	float:left;
	margin: 5px 19px 0 0;
	padding:3px;
	border: solid 1px #20374A;
	}
#tempcreator {
	width:48%;
	float:left;
	margin: 5px 0 0 0;
	padding:3px;
	border: solid 1px #20374A;
	}
	#tempcreator table td {
		font-size:0.8em;
	}
.colhalf table td{
	font-size:0.8em;

	}
.wizhighlight {
	font-size:1.3em;
	color: #55689B;
	padding: 0 0 0 100px;
	margin:0;
	}
.wizhighlightreq {
	font-size:1.3em;
	color: #55689B;
	padding: 0 0 0 250px;
	margin:0;
	}