/*----------------Otros Elementos---------------*/

#searchbox {
	width: 540px;
	height:305px;
	overflow:auto;
	border: solid 1px #006699;
	margin:auto;
	text-align:center;
	/*float:left;*/

	}
	*html #searchbox {
		width:580px;
		}
	
#sidesearchbox {
	width: 300px;
	height:380px;
	overflow:auto;
	border: solid 1px #006699;
	background-color:#D0DEE8;
	float:left;

	}
	
	#mainsearch input,
	#mainsearch input#multiple,
	#mainsearch input#code1,
	#mainsearch #stat1,
	#mainsearch select {
		font-size:0.7em;
		width:94px;
		background-color:#D3DEE7;
		color:#334457;
		margin: 3px 3px 0 3px;
		border: solid 1px #20374A;
		}
		
		#mainsearch input#reset{
			font-size:12px;
			}
		
		#mainsearch select#stat1,
		#mainsearch input {
		width:auto;
		}
	#mainsearch table td, #mainsearch label {
	font-size:0.8em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	form#mainsearch {
		margin:0;
		padding:0;
		}
		#mainsearch input#txthelp {
			width:135px;
			}
			 
	table#tablesearch td{
		height:5px;
		padding:0;
		margin:0;
		}
		
#mainsearch input.botonsml {
	width:50px;
	height:27px;
	background-image:url(../../img/wizsml.png);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	}

/*MAPAS*/

	.mapon {
		position:relative; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:visible;*/
		display:block;
		}
	.mapoff{
		position:absolute; /*necesario para que respete el div en firefox, ver: http://forums.microsoft.com/MSDN/ShowPost.aspx?PostID=573435&SiteID=1*/
		/*visibility:hidden;*/
		display:none;
		}
	
#mymapcontroldiv {
	width: 420px;
	height: 250px;
	}
/*
#searchhome{
	/*background-color:#DDE7F0;
	background-image:url(../../img/bgsearchhome.jpg);
	background-repeat:no-repeat;
	width:340px;
	height: 400px;/*400-280= 120 mas o menos para la imagen de abajo*/
	}
	
/*div#searchhome.floater{
	margin: 7px 0 0 10px;
	}
	
	*html #searchhome.floater{
	/*background-color:#DDE7F0;
	background-image:url(../../img/bgsearchhome.jpg);
	width:351px;
	height: 280px;
	margin: 7px -5px 0 14px;
	}
.floater{
	width:285px;
	margin:5px 0 0 0;
	padding:5px 5px 0 5px;
	float:left;
	clear:none;
	/*background-color:#009900;
	}
*/
