/* CSS Document */

body {
	background-color:#D5EAF4;
	margin:0;
	padding:0;
	font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
	font-size:62.5%;
	text-align:left;
	}
	#geniuswork {
		width: auto; /*958px; /* 958+20=978*/
		padding:0;
		margin:0;
		clear:both;
		background-color:#FFFFFF;
		}
	.visible {
		display:block;
		}
	.invisible{
		display:none;
		}


/*----------------Otros Elementos---------------*/

.floater{
	width:285px;
	margin:5px;
	padding:5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}
html > div.floater{
	width:240px;
	margin:5px;
	padding:5px;
	float:left;
	clear:none;
	/*background-color:#009900;*/
	}

/*p{
	margin:0;
	padding:0 0 3px 0;
	line-height:normal;
	}
h1 {
	font-size:1.6em;
	color:#0099FF;
	}
h3 {
	font-size:1.3em;
	color: #55689B;
	padding: 0 0 6px 0;
	margin:0;
	}*/	
#userlog {
	padding:0;
	margin:0;
	}
#registeruser input {
	font-size:0.9em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}	
#registeruser select {
	font-size:0.9em;
	background-color:#D3DEE7;
	color:#334457;
	margin: 5px 10px 0 10px;
	border: solid 1px #20374A;
	}	
table#registeruser td {
	font-size:12px;
	color:#334457;
	margin: 0;
	}

table#registeruser .anchito {
	width: 170px;
	}

