@charset "utf-8";
/* Print Media CSS */


div#listing,
div#report {
	width: 861px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size:0.8em;*/
	margin: 0 auto;
	}
	
div#listing table td,
div#report table td{
	padding: 3px;
	font-size:0.8em;
	}

/*div#listing table td*/
div#listing table,
div#report table  {
	border:solid 1px #006699;
	border-collapse:collapse;
	}

	
div#listinghead {
	width: 861px;
	height:119px;
	margin:0 auto 15px auto;
	padding:0;
	/*background-image:url(../../img/infosheet.jpg);
	background-repeat:no-repeat;*/
	}
	
