@charset "utf-8";
/* Print Media CSS */
    #oculto { visibility:hidden}
    #reloj { visibility:hidden}

	table {
		width:auto;
		border-collapse: collapse;
		text-align:left;
		background: white; 
	}
	
	thead tr {
		color:#000000;
		font-size:16px;
		font-family: trebuchet ms;
	}
	thead{
		display : table-header-group;
	}
	
	table tbody,
	table tfoot {
		padding-top: 17px;
		color:#000000;
		font-size:16px;
		font-family: trebuchet ms;
	}
		
	thead th, tbody td, tfoot td {
		border-collapse:collapse;
		padding:0 5px 0 5px;
		white-space: nowrap;
	}
