@charset "utf-8";
/* Screen Media CSS */

	div#rbody{
		width: 1020px;
		margin: 0 auto 0 auto;
		text-align:left;
		position:relative;
		float:left;
	}

	div#inf_comparado {
		width: 1020px;
		margin: 0 auto 0 auto;
		text-align:left;
		position:relative;
		float:left;
	}
	
	div#rbody table,
	div#inf_comparado table  {
	width:auto;
	border-collapse: collapse;
	text-align:left;
	padding:0 5px 0 5px;
	white-space: nowrap;
	}
	
	div#rbody thead tr,
	div#inf_comparado thead tr  {
		background-color:#376A95;
		color:#FFFFFF;
		font-size:13px;
		font-family: trebuchet ms;
	}
	
	div#rbody table tbody,
	div#rbody table tfoot,
	div#inf_comparado table tbody {
		padding-top: 17px;
		color:#000000;
		font-size:13px;
		font-family: trebuchet ms;
	}
		
	div#rbody thead th,
	div#rbody tbody td,
	div#rbody tfoot td 
	div#inf_comparado thead th,
	div#inf_comparado tbody td	{
		border-collapse:collapse;
		padding:0 5px 0 5px;
		white-space: nowrap;
		}

	input.botonsml {
	/*width:89px;
	height:27px;
	background-image:url(../../img/wiznew.png);*/
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	}
	