/*----------------Otros Elementos---------------*/

#datacontainer {
	width: 950px;
	margin: 0 10px 0 0;
	font-size:12px;
	/*height:298px;
	overflow:auto;
	border: solid 1px #006699;
	margin:auto;
	text-align:center;*/
	float:left;
	clear:both;
	}
	
	#datacontainer table {
	width: 680px;
	/*margin:auto;*/
	font-size:12px;
	font-weight:normal;
	}
	#datacontainer table#selection {
	width: 780px;
	/*margin:auto;*/
	font-size:12px;
	font-weight:normal;
	}
	#datacontainer table th { /*color de las celdas de borde*/
	background-color: #B8E4DC;
		}
	#datacontainer table td,#datacontainer table th, #datacontainer table {
		padding:3px;
		border: 1px solid  #006699;
		border-collapse:collapse;
		}
	#datacontainer table td {
		text-align:center;
		height:30px;
		}
		
	#datacontainer table th.thprincipal {
		text-transform:uppercase;
		background-color:#006699;
		color:#FFF;
		}
	#datacontainer table#campos, #datacontainer table#campos td {
		padding:3px;
		border:none;
		border-collapse: separate;
		}
#graphcontainer {
	width: 20px;
	height:400px;
	overflow:auto;
	border: solid 1px #006699;
	background-color:#D0DEE8;
	float:left;

	}
	
	#form1 select {
		font-size:0.9em;
		width:100px;
		background-color:#D3DEE7;
		color:#334457;
		margin: 3px 3px 0 3px;
		border: solid 1px #20374A;
		}
		
		
		form#form1 {
		margin:0;
		padding:0;
		}
		
		
#form1 input.botonlg,
#form1 input.botonsml {
	width:89px;
	height:27px;
	background-image:url(../../img/wiznew.png);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	}
input.botonlg {
	width:120px;
	background-image:url(../../img/wizlg.png);
	}
input.botonsml {
	width:50px;
	background-image:url(../../img/wizsml.png);
	}
	
	a img {
		border:0;
		}
	/*#mainsearch table td, #mainsearch label {
	font-size:0.8em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	
	#mainsearch select#stat1,
		#mainsearch input {
		width:auto;
		}
		#mainsearch input#txthelp {
			width:135px;
			}
			 
	table#tablesearch td{
		height:5px;
		padding:0;
		margin:0;
		}*/
	
