
/*clases hechas por jaime creixems*/
/*body {
	font: 16px, trebuchet ms, sans-serif;
	text-align:center;
}*/


/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
 text-align:left;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
text-align:left;
}
.tabberlive {
 margin-top:0px;/*cambiar alto entre tabs*/
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
/* border-bottom: 1px solid #009900;*/
 font: bold 12px trebuchet ms, sans-serif;
 /*background-color:#C7D7E0;*/
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 /*border: 1px solid #009900;*/
 border-bottom: none;
 /*background: #C7D7E0;*/
 background-image:url(../../img/tabbg.png);
 text-decoration: none;
 text-transform: uppercase;
}

ul.tabbernav li a:link { color: /*#50647C*/ #ffffff; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #FFFFFF;
 /*background-color: #456B81;*/
 background-image:url(../../img/tabbgover.png);
/* border-color: #2C3752;*/
}

ul.tabbernav li.tabberactive a
{
 /*background-color: #fff;*/
 background-image:url(../../img/tabbgover.png);
 color: #00CCFF;
 /*border-bottom: 1px solid #fff;*/
}

ul.tabbernav li.tabberactive a:hover
{
 color: #C7ECF8;
 /*background: white;*/
 background-image:url(../../img/tabbgover.png);
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:0px 5px; /*cambiar alto entre tabs*/
 /*border:1px solid #009900;*/
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

/* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
	font: 16px, Arial, Helvetica, sans-serif;
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
