
.login .hd .c,
.login .ft .c {
 height: 20px;
}
.login .ft .c {
 height:21px;
}

.login .hd {
 background:transparent url(../../img/login_tl.png) no-repeat 0px 0px;
 margin-right:17px; /* space for right corner */
}

.login .hd .c {
 background:transparent url(../../img/login_tr.png) no-repeat right 0px;
 margin-right:-17px; /* pull right corner back over "empty" space (from above margin) */
}

.login .bd {
 background-color:#d5eaf4;
 margin-right:6px;
 padding:0;
}

.login .bd .c {
 background-color:#d5eaf4;
 margin-right:-6px;
 padding:0;
 height:130px;
}

.login .bd .c .s {
 background-color:#d5eaf4;
 padding:0px 10px 0px 10px;
 margin:0;
}

.login .ft {
 background:transparent url(../../img/login_bl.png) no-repeat 0px 0px;
 margin-right:17px;
}

.login .ft .c {
 background:transparent url(../../img/login_br.png) no-repeat right 0px;
 margin-right:-17px;
}
.loginhome{
font-weight:bolder;
padding:10px 0px 10px 0px;
margin:0px;
width:330px;
}
.loginhome h3{
font-size: x-small;
color: #4169BC;
text-align:right;
margin:0px;
padding:0px;
}
.loginhome a{
color: #858087;
text-decoration:underline;
border:none;
margin:0px;
padding:0px;
}
.loginhome label{
font-size:12px;
margin:0px;
padding:0px;

}
.caja{
	background-color:#fff;
	color: #000;
	width:100%;
	border: solid thin #fff;
	margin:0px;
	padding:0px;
	margin-top:2px;
	}
.btn_login{
	background: transparent url(../../img/button.png) no-repeat;
	width: 74px;
	height: 21px;
	border:none;
	margin:0px;
	padding:2px;
	margin-top:2px;
}

.no-border-search{
	border-style:none;
	background-image: none;
	background-color:#8AB420;
}

.box_result {
	background-image: url(http://www.reifax.com/img/bkgd_result.jpg); 
	width: 650px; 
	height: 170px; 
	margin-bottom: 2px; 
	border: 1px solid #FFF; 
	border-top: 1px solid #b8dae3;
}
.box_result_hover { 
	background-image: url(http://www.reifax.com/img/bkgd_result_over.jpg); 
	width: 650px; 
	height: 170px; 
	margin-bottom: 2px; 
	border: 5px solid #b8dae3; 
	border-top: 5px solid #b8dae3;
}
.paginationstyle{
	font-size:14px;
	padding-right:10px;
}
.paginationstyle a{
	padding: 5px 8px;
	margin-right: 2px;
	border: 1px solid #ddd;
	text-align:center;
	text-decoration: none; 
	color: #5d7e87;
	font-weight:bolder;
	background-color: #FFFFFF;
	height:20px;
}
.paginationstyle a:hover {
	border:1px solid #b8dae3;
	color: #638425;
	background-color: #eaf5f7;
}
.paginationstyle span.current{
	padding: 5px 8px;
	margin-right: 2px;
	font-weight: bold;
	background-color: #FFF;
	color: #000;
	height:20px;
}
.paginationstyle span.disableds{
	padding: 5px 8px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
	height:20px;
}
.no-border{
	border-style:none;
	background-image:none;
	background-color:#FFF;
}
.no-border-gray{
	border-style:none;
	background-image:none;
	background-color:#EAEAEA;
}
.ux-carousel-container {
    overflow: hidden;
    position: relative;
}

.ux-carousel-slides-wrap {
    position: absolute;
    top: 0;
    left: 0;
	margin-top: 40px;
}

.ux-carousel-slide {
    float: left;
    overflow: hidden;
    text-align: center;
}

.ux-carousel-nav {
    height: 29px;
    width: 100%;
    background-color: #D5EAF4;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

.ux-carousel-caption {
    font-size: 20px;
    float: left;
    padding: 2px 5px;
    margin: 0;
    text-transform: none;
    color: #2B73E6;
    overflow: hidden;
    height: 29px;
    width: 100px;
}

.ux-carousel-nav-prev,
.ux-carousel-nav-next,
.ux-carousel-nav-play {
    height: 24px;
    display: block;
    float: right;
    margin: 2px 0;
    background-position: 0 24px;
}

.ux-carousel-nav .ux-carousel-nav-prev {
    background-image: url('../../img/prev.png');
    width: 31px;    
}

.ux-carousel-nav .ux-carousel-nav-next {
    background-image: url('../../img/next.png');
    margin-right: 2px;
    width: 30px;
}

.ux-carousel-nav-play {
    background-image: url('../../img/play_pause.png');
    width: 24px;
}

.ux-carousel-nav-play:hover {
    background-position: 0 0; 
}
.ux-carousel-nav-play.ux-carousel-playing {
    background-position: 24px 24px;
}
.ux-carousel-nav-play.ux-carousel-playing:hover {
    background-position: 24px 0;
}

.ux-carousel-nav-prev:hover,
.ux-carousel-nav-next:hover {
    background-position: 0 48px;
}

.ux-carousel-nav-prev.ux-carousel-nav-disabled,
.ux-carousel-nav-next.ux-carousel-nav-disabled {
    background-position: 0 0;
}

.customInfoBox-body{
	background-image: url("http://www.reifax.com/img/bkgd_result.jpg");
	border: 3px solid #B8DAE3;
	padding: 2px 8px 8px;
	position: relative;
	z-index:500;
	left:0px;
	top:0px;
	min-width: 160px;
	height: 145px;
}

.VE_Pushpin_Popup_Title  {
	color:#0066CC;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}

.VE_Pushpin_Popup_Body  {
	color:#000000;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size:8pt;
	font-weight:normal;
}

.grid_comparables .x-grid3-header,
.grid_comparado .x-grid3-header {
	background-color:#FFF;
	background-image:none;
}

.grid_comparado .x-grid3-hd-inner {
	color:#FFF;
	background-color:#88AF3F;
}

.grid_comparables .x-grid3-hd-inner {
	color:#FFF;
	background-color:#376A95;
}

.grid_comparado .x-grid3-row-over,
.grid_comparables .x-grid3-row-over {
	background-color: #ACCFE3;
	background-image: none;
}

.grid_comparado .x-grid3-row-selected,
.grid_comparables .x-grid3-row-selected {
	background-color:#FFFFFF !important;
	background-image:none;
	border:1px solid #EEEEEE;
}

.grid_comparado .x-grid3-header-offset,
.grid_comparables .x-grid3-header-offset{
	padding-left: 0px;
}

.grid_comparables td.x-grid3-hd-over .x-grid3-hd-inner, 
.grid_comparables td.sort-desc .x-grid3-hd-inner, 
.grid_comparables td.sort-asc .x-grid3-hd-inner, 
.grid_comparables td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-color:#376A95;
	background-image:none;
}
.grid_comparado td.x-grid3-hd-over .x-grid3-hd-inner, 
.grid_comparado td.sort-desc .x-grid3-hd-inner, 
.grid_comparado td.sort-asc .x-grid3-hd-inner, 
.grid_comparado td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-color:#88AF3F;
	background-image:none;
}

/*clase de realtor web*/

.search_realtor_titulo{
	    color: #000;
		font-weight:bold;	
	}
.search_realtor_fondo{
		background:url(../../img/bkgd_srch.png) repeat-x #8AB420;
		height:130px;
		margin-top:-5px; 
		padding-top:10px; 
		padding-left:15px;
	}

.overview_realtor_titulo{
	      clear:both;
		  color:#2b73e6;
		  float:left;
		  font-weight:bold;
		  font-size:15px;
		  width:415px; 
		  padding-left:5px;
		  background-color:#FFF;"
	}
	.overview_realtor_titulop{
	       font-size:20px;
		}
	.overtab_realtor_titulo{
	  color:#15428b;
	  font-size:20px;
	  margin-left:8px; 
	  float:left;"
	}
	.fondo_realtor_result{
		width:100%; 
		margin:auto; 
		background-color:#FFF;
	}
	.fondo_realtor_result_tab{
		background-color:#FFF;
	}
	.treePanel-no-image{
		background-image:none;
	}
	
	.home{
		background: url("http://www.reifax.com/img/phone-type.gif") no-repeat scroll 0px 2px transparent;
		height: 12px;
		padding-left:14px;
	}
	.office{
		background: url("http://www.reifax.com/img/phone-type.gif") no-repeat scroll 0px -10px transparent;
		height: 12px;
		width: 10px;
		padding-left:14px;
	}
	.cell{
		background: url("http://www.reifax.com/img/phone-type.gif") no-repeat scroll 0px -21px transparent;
		height: 12px;
		width: 10px;
		padding-left:14px;
	}
	.agentprincipal{
		background: url("http://www.reifax.com/img/ix1y64.gif") no-repeat scroll 1px 2px transparent;
		height: 12px;
		width: 10px;
		padding-left:14px;
	}
	.overviewBotonCss3{
		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
		/* Safari 5.1+, Chrome 10+ */
		background: -webkit-linear-gradient(top, #FFF, #EEE);
		/* Firefox 3.6+ */
		background: -moz-linear-gradient(top, #FFF, #EEE);
		/* Opera 11.10+ */
		background: -o-linear-background(top, #FFF, #EEE);
		/* IE 10 */
		background: -ms-linear-background(top, #FFF, #EEE);
		/* estándar */
		background: linear-background(top, #FFF, #EEE);
		
		border: thin solid #BBBBBB;
		border-radius: 4px 4px 4px 4px;
		color: #1D6AAA;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 15px;
	}
	
	.reifaxMenu{
		font: "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #032d41;
		height:23px; 
		line-height:23px; 
		padding-left:2px; 
		padding-right:10px; 
		padding-top: 0px;
		margin-top: -3px;
		float:right;
	}
	
	.reifaxMenu ul{
		list-style-image:none; 
		list-style-position:outside; 
		list-style-type:none; 
		font-weight:bolder;
		font-size:12px; 
		text-align:center;
	}
	
	.reifaxMenu li{
		line-height:15px; 
		padding:0 3px;
		float:left;
	}
	
	.reifaxMenu li img{
		width: 48px;
	}
	
	.productMenuReiFax {
	  background-color: rgba(0, 0, 0, 0.02);
	  border-bottom: 1px solid #bababa;
	  border-right: 1px solid #bbb;
	  height: 68px;
	  position: relative;
	  transition: all 0.2s linear 0s;
	  width: 980px;
	  /*overflow:hidden;*/
	}
	.productMenuReiFax .menuBlock{
		display: block;
		vertical-align:middle;
	}
	.logoProduct.menuBlock {
	  border-right: 1px solid #bbb;
	  float: left;
	}
	.logoProduct a{
		text-decoration:none;
		cursor:pointer;
	}
	.logoProduct .headerContainer{
		padding:9px 20px;
		text-align:center;
		background-color: #8ab420;
		width: 165px;
	}
	.logoProduct .headerContainer img{
		/*display:block;*/
		height: 50px;
	}
	.otherProductItem {
	  border-right: 1px solid #bbb;
	  display: block;
	  float: left;
	  padding: 9px 0px;
	  min-width: 174px;
	}
	.otherProductItem:last-child {
	  border-right: medium none;
	}
	.otherProductItem img{
		height:50px;
		display:block;
	}
	.moreMenu.menuBlock {
	  border-left: 1px solid #bbb;
	  /*border-right: 1px solid #bbb;*/
	  float: left;
	  padding: 34px 30px;
	  cursor:pointer;
	}
	.moreMenu.menuBlock.logoutMenu{
	  background-image: url(http://www.reifax.com/img/menu/new/logout.png);
	  background-position:center;
	  background-repeat:no-repeat;
	  background-size: 50px auto;
	}
	.moreMenu.menuBlock.ticketMenu{
	  padding: 0;
	}
	.moreMenu.menuBlock.helpMenu{
	  padding: 0;
	}
	.moreMenu.menuBlock.supportMenu{
	  /*background-image: url(http://www.reifax.com/img/menu/new/support-on.png);*/
	  background-position:center;
	  background-repeat:no-repeat;
	}
	.moreMenu.menuBlock.settingsMenu {
	  background-image: url("http://www.reifax.com/img/menu/new/other-menu.png");
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: 29px 20px;
	}
	.moreMenu.menuBlock.settingsMenu .more-menu-container {
		position: absolute;
		top: 68px;
		right: -1px;
		width: 187px;
		display: none;
		transition: all .2s linear;
		z-index: 1000;
	}
	.moreMenu.menuBlock.settingsMenu .more-menu-container ul.menu {
		list-style: none;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	.moreMenu.menuBlock.settingsMenu .more-menu-container ul.menu li {
		margin-bottom: 0px;
		width: 100%;
	}
	.moreMenu.menuBlock.settingsMenu .more-menu-container ul.menu li a{
		display: block;
		background-color: rgb(250, 250, 250);
		color: #4a4a4a;
		height: auto;
		font-size: 14px;
		padding: 20px;
		text-transform: uppercase;
		transition: all .2s linear;
		border: 1px solid #bababa;
		text-align: left;
	}
	.moreMenu.menuBlock.ticketMenu img, .moreMenu.menuBlock.helpMenu img{
		max-width: 62px;
	}
	#ciSlBh, #sdSlBh, scSlBh {
	  margin: 0;
	}
	#scSlBh img{
		height:68px;
		width: 65px;
	}
	
	.x-btn .x-btn-small .x-btn-text {
		height: 25px !important;
		min-width: 25px !important;
		background-position: center center;
	}
	.x-btn .x-btn-medium .x-btn-text {
		height: 40px !important;
		min-width: 40px !important;
		background-position: center center;
	}
	.x-btn .x-btn-medium .x-btn-text.icon, .x-btn .x-btn-small .x-btn-text.icon {
		background-position: 0 center !important;
	}
	
.fuente1{
	color: #1D6AAA;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fuente2{
	color: #1D6AAA;
	text-decoration: none;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	padding:1px;
}

.features{
	color: #1D6AAA;
	text-decoration: none;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1px 1px 1px 10px;
	text-align:left;
}

.featuresTitles{
	color: #000;
	text-decoration: none;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 1px 1px 1px 10px;
	text-align:left;
}

.precio {
  color: #1D6AAA;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  padding: 3px;
}

.staticHeight{
	height:35px;
	vertical-align:middle;
}

.fondo0{
	background: #AAA;	
	border: thin solid #BBBBBB;
	color: #1D6AAA;
	border-radius: 4px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fondo1{
	/* No Gradient */
	background: #FFF;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #EEE);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #EEE);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #FFF, #EEE);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#EEEEEE');
	/* IE 10 */
	background: -ms-linear-background(top, #FFF, #EEE);
	/* estándar W3C */
	background: linear-background(top, #FFF, #EEE);
	
	border: thin solid #BBBBBB;
	color: #1D6AAA;
	border-radius: 4px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fondo2{
	/* No Gradient */
	background: #E0FFA5;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0FFA5), to(#D0EE99));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #E0FFA5,#D0EE99);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #E0FFA5,#D0EE99);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #E0FFA5,#D0EE99);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E0FFA5', endColorstr='#D0EE99');
	/* IE 10 */
	background: -ms-linear-background(top,#E0FFA5,#D0EE99);
	/* estándar */
	background: linear-background(top, #E0FFA5,#D0EE99);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fondo3{
	/* No Gradient */
	background: #B1C0E5;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B1C0E5), to(#9DABCC));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #B1C0E5,#9DABCC );
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #B1C0E5,#9DABCC);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #B1C0E5,#9DABCC);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#B1C0E5', endColorstr='#9DABCC');
	/* IE 10 */
	background: -ms-linear-background(top, #B1C0E5,#9DABCC);
	/* estándar */
	background: linear-background(top, #B1C0E5,#9DABCC);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}
 
.fondo4{
	/* No Gradient */
	background: #CDB6F2;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CDB6F2), to(#BCA7DE));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #CDB6F2,#BCA7DE);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top,#CDB6F2,#BCA7DE);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #CDB6F2,#BCA7DE);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CDB6F2', endColorstr='#BCA7DE');
	/* IE 10 */
	background: -ms-linear-background(top,#CDB6F2,#BCA7DE);
	/* estándar */
	background: linear-background(top,#CDB6F2,#BCA7DE);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

/*Dashboards*/
.dashboard{
	font-size:14px;
	margin: auto;
}
.dashboard .contentText{
	float:left; 
	color:#FFF; 
	text-align:center;
	margin-right:15px;
}
.dashboard .title{
	background:#F8F8F8;
	padding:10px 8px;
	margin-bottom:10px;
	text-align:justify;
}

.dashboard label{
	color:#021500;
	font-weight:bold;
	line-height: 25px;
}
.dashboard .columns{
	width: 33%;
	float: left;
	margin-left: 1px;
	margin-right: 2px;
}
.dashboard .two {
  margin: 0;
  width: 50%;
}
.dashboard table{
	padding:5px;
	width:100%;
	border: solid 1px #E1E1E1;
	border-collapse:collapse;
}
.dashboard .cuote{
	margin-top:7px;
}
.dashboard table th .colCenter {
	width:100%;
	height:100%;
}
.dashboard table th{
	background:#FFF;
	border:none;
	border-bottom:solid 2px #1D6AAA;
	padding:7px 4px;
	text-align:right;
	width:12%;
}
.dashboard table th:first-child{
	text-align:left;
	width:78%;
}
.dashboard table th:last-child{
	width:8%;
}
.dashboard table td{	
	border:none;
	padding:7px 4px;
	text-align:right;
	width:12%;
	height: 35px;
}
.dashboard table td:first-child{
	text-align:left;
	width:78%;
}
.dashboard table td:last-child{
	width:8%;
}
.dashboard .check {
  background: url("http://www.reifax.com/img/table-check.png") no-repeat scroll center center transparent;
}

.dashboard .no-check {
  background: url("http://www.reifax.com/img/table-dash.png") no-repeat scroll center center transparent;
}
.dashboard .cuote {
  margin-top: 7px;
}
.dashboard .loadingBlock {
	width: 100%;
	height: 100%;
	background: url(http://www.reifax.com/img/ajax-loader.gif) center center no-repeat #FFF;
	display:block;
	position:absolute;
}

.whitetext {
  color: #FFFFFF !important;
}
.greentext {
  color: #9CC55F !important;
}
.bluetext {
  color: #1D6AAA !important;
}
.shortBox {
  margin-top: 5px;
  width: 100px !important;
}
.par {
  background: none repeat scroll 0 0 #F8F8F8 !important;
}
.impar {
  background: none repeat scroll 0 0 #F3F3F3 !important;
}
.cuote {
  background-color: #D90461;
  float: left;
  height: 5px;
  margin-right: 5px;
  width: 5px;
}
.between {
  float: right;
  margin-right: 30px;
  display: none;
}
#from, #to, #from2, #to2 {
	width: 100px;
	margin-top: 5px;
}
#properties, #new, #status, #task, #pending {
	position:relative; 
}
#followfrom, #followto, #followfrom2, #followto2 {
	width: 100px;
	margin-top: 5px;
}
#followproperties, #follownew, #followstatus, #followtask, #followpending {
	position:relative; 
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6; 
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}

/*Quick Tips*/
.x-tip .x-tip-body {
  color: #444444;
  font: bold 13px tahoma,arial,helvetica,sans-serif;
}