<head>
        <meta charset="utf-8">
        <title>REIFax Home</title>
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/css.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/chosen.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/menu.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/advertising.css"/> 
        <link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/css/jquery.cleditor.css"/> 
        
                <![if !IE]><script src="http://dev.virtualearth.net/mapcontrol/v6.3/js/atlascompat.js"></script><![endif]>
        <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3"></script>
                 <!-- JQuery -->
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/includes/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/includes/jquery.carouFredSel-4.3.3-packed.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/validationRegister.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/tabPanel.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/cookies.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/jquery.upload-1.0.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/ubicacion.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/jquery.cleditor.min.js"></script>
		<script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/flowplayer-3.2.6.min.js"></script>
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/menu.js"></script> 
        <script type="text/javascript" language="javascript" src="http://www.reifax.com/xima3/website/resources/js/functionGlobal.js"></script> 
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

		<!-- Extjs-->
		<link rel="stylesheet" type="text/css" href="http://www.reifax.com/xima3/website/resources/js/extjs3/resources/css/ext-all.css" />
        <script type="text/javascript" src="http://www.reifax.com/resources/js/extjs3/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="http://www.reifax.com/resources/js/extjs3/ext-all.js"></script>
        <script type="text/javascript" src="http://www.reifax.com/resources/js/extjs3/examples/ux/ux-all.js"></script>
        
        <link rel="shortcut icon" type="image/ico" href="http://www.reifax.com/xima3/website/favicon.png">
    </head>
