<!DOCTYPE HTML>

<html>

<head>

   <link rel="stylesheet" type="text/css" href="css.css">
<script>
function getFontForElement(ele) {
    if (ele.currentStyle) { // sort of, but not really, works in IE
        return ele.currentStyle["fontFamily"];
    } else if (document.defaultView) { // works in Opera and FF
        return document.defaultView.getComputedStyle(ele,null).getPropertyValue("font-family");
    } else {
        return null;
    }
}
</script>
</head>

<body id="body">
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">{%20%}<br>
 {%21%}<br>
 {%22%}{%25%}</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">&nbsp;</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">RE: {%538%}</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">Dear {%20%}</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">If you are interested in
 IMMEDIATE CASH for this or any other property you now own, this letter may be
 important to you.</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">Devoco and Associates is a
 professional financial and Management Company based in Florida.&nbsp; We are
 interested in purchasing and we are committed to offer you the best possible
 price with an immediate closing date.&nbsp; This means we are willing to
 purchase your property in an AS-IS condition.</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">Devoco and Associates,
 Inc,&nbsp; is in the business of buying and selling houses and multiple house
 packages; we rehab, resell and rent properties. The sole purpose of this letter
 is to announce our interest in making a cash purchase of your property.</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">We will pay all customary
 closing costs associated with the purchase and we can close in less than 10
 days if necessary.&nbsp; In addition there will be no real estate commissions
 associated with the purchase of your property.</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">We maintain the highest
 professional standards in the course of our dealings and thank you for considering
 this opportunity.</span></p>
 
 <p><span style="font-family:&quot;Brush Script MT&quot;">We invite you to call us
 anytime, 305-970-1837</span></p>
 
 <p>
 
 </p><font face="arial"><br><br></font>

 <script>getFontForElement(document.getElementById('body'));</script>
</body>

</html>

