.ux-carousel-container {
    overflow: hidden;
    position: relative;
}

.ux-carousel-slides-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.ux-carousel-slide {
    float: left;
    overflow: hidden;
    text-align: center;
}

.ux-carousel-nav {
    height: 29px;
    width: 100%;
    background-color: #d1ccc7;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

.ux-carousel-caption {
    font-size: 20px;
    float: left;
    padding: 2px 5px;
    margin: 0;
    text-transform: none;
    color: black;
    overflow: hidden;
    height: 29px;
    width: 100px;
}

.ux-carousel-nav-prev,
.ux-carousel-nav-next,
.ux-carousel-nav-play {
    height: 24px;
    display: block;
    float: right;
    margin: 2px 0;
    background-position: 0 24px;
}

.ux-carousel-nav .ux-carousel-nav-prev {
    background-image: url('images/prev.png');
    width: 31px;    
}

.ux-carousel-nav .ux-carousel-nav-next {
    background-image: url('images/next.png');
    margin-right: 2px;
    width: 30px;
}

.ux-carousel-nav-play {
    background-image: url('images/play_pause.png');
    width: 24px;
}

.ux-carousel-nav-play:hover {
    background-position: 0 0; 
}
.ux-carousel-nav-play.ux-carousel-playing {
    background-position: 24px 24px;
}
.ux-carousel-nav-play.ux-carousel-playing:hover {
    background-position: 24px 0;
}

.ux-carousel-nav-prev:hover,
.ux-carousel-nav-next:hover {
    background-position: 0 48px;
}

.ux-carousel-nav-prev.ux-carousel-nav-disabled,
.ux-carousel-nav-next.ux-carousel-nav-disabled {
    background-position: 0 0;
}

.caroufredsel_wrapper{
	height:300px;	
}