@charset "utf-8";
/* CSS Document */
/* ~~ This fixed width container surrounds all other blocks ~~ */
.containervideos {
	position:relative;
	width: 990px;
	background: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

#contentPrincipalVideos{
	padding-top:4px;
	min-height: 100%;  
	margin-bottom: 10px;
	position: relative;
}

.panelVideos {
	background-color: #FFF;
	border: solid thin #DDD; 
	
	/*Box-Shadow*/
	-moz-box-shadow: 2px 3px 3px #DDD;
	-webkit-box-shadow: 2px 3px 3px #DDD;
	box-shadow: 2px 3px 3px #DDD;
	
	height:100%;
	overflow:hidden;
	padding: 4px;
}

.panelVideos .center {
	position:relative;
	background-color: #F7F7F7;
	height:100%;
}  

.videoV{
}
.videoV .title{
	color:#FFF;
	background:#9DC318;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:20px;
	display:block;
}
.videoV .title >div
{
	margin :0px 15px;
	height:100%;
	width:100%;
}
.videoV .list{
	height:500px;
	float:left;
	width:260px;
	overflow:auto;
}

.videoV .list li{
	list-style:none;
}
.videoV .list a{
	color:#4A4C59;
	font-weight:400px;
	font-size:14px;
	display:block;
	height:40px;
	width:230px;
	padding-left:10px;
	line-height:40px;
}
.videoV .list a:hover{
	font-weight:bold;
}
.videoV .list a .cuote{
	margin-right:10px;
	margin-top:19px;
}
.videoV .marcoVideoV{
	float:left;
	height:500px;
	width:720px;
}
.videoV .active{
	font-weight:bold;
}
.videoV .active{
	font-weight:bold;
	color:#FFF !important;
	background:#9DC318;
}
.videoV .active .cuote{
	background:#FFF;
}

 .parV{
	background:#F8F8F8 !important;
}
 .imparV{
	background:#F3F3F3 !important;
}


