﻿@charset "utf-8";
/* CSS Document */
#home-carousel{
	width:670px;
	height:315px;
	overflow: hidden; 
	margin: 0;
}

.list_carousel{
	width: 670px; 
	height: 315px;
	position:relative;
}

.ux-carousel-slide{
	width: 670px;
	height: 315px; 
}


.ux-carousel-container {
    overflow: hidden;
    position: relative;
}

.ux-carousel-slides-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.ux-carousel-slide {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}  

.ux-carousel-nav {
    height: 29px;
    width: 100%;
    background-color: #d1ccc7;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

.ux-carousel-caption {
    font-size: 20px;
    float: left;
    padding: 2px 5px;
    margin: 0;
    text-transform: none;
    color: black;
    overflow: hidden;
    height: 29px;
    width: 100px;
}

.ux-carousel-nav-prev,
.ux-carousel-nav-next,
.ux-carousel-nav-play {
    height: 24px;
    display: block;
    float: right;
    margin: 2px 0;
    background-position: 0 24px;
}

.ux-carousel-nav .ux-carousel-nav-prev {
    background-image: url('images/prev.png');
    width: 31px;    
}

.ux-carousel-nav .ux-carousel-nav-next {
    background-image: url('images/next.png');
    margin-right: 2px;
    width: 30px;
}

.ux-carousel-nav-play {
    background-image: url('images/play_pause.png');
    width: 24px;
}

.ux-carousel-nav-play:hover {
    background-position: 0 0; 
}
.ux-carousel-nav-play.ux-carousel-playing {
    background-position: 24px 24px;
}
.ux-carousel-nav-play.ux-carousel-playing:hover {
    background-position: 24px 0;
}

.ux-carousel-nav-prev:hover,
.ux-carousel-nav-next:hover {
    background-position: 0 48px;
}

.ux-carousel-nav-prev.ux-carousel-nav-disabled,
.ux-carousel-nav-next.ux-carousel-nav-disabled {
    background-position: 0 0;
}

.ux-carousel-slides-paging {
	bottom: 0px;
	position: absolute;
	right: 5px;
}
.ux-carousel-slides-paging a {
	background: url(../img/feature-nav-dots.png) -16px 1px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.ux-carousel-slides-paging a.selected {
	background-position: 0px 0px;
	cursor: default;
}
.ux-carousel-slides-paging a span {
	display: none;
}

.advertisingFeatureBlock {
  background: url(../img/advertisingFeatureBlock.png) repeat scroll 0 0 padding-box transparent;
  bottom: 0;
  overflow: hidden;
  padding: 30px 18px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
} 
.advertisingFeatureBlock p {
  font-family: calibri,Arial;
  font-size: 14px;
  text-align: center;
}
.list_carousel .button {
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center;
}