@charset "utf-8";
/* CSS Document */

body {
	font: 100%/1.4 Arial, Helvetica, sans-serif;
	background: #FFF;
	margin: 0;
	padding: 0;
	color: #000;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0; 
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}  

a { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}  
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	position:relative;
	width: 990px;
	background: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	background: #FFF;
}

header #advertisingTop {
	margin-bottom: 10px;
	margin-top: 5px;
	height: 40px;
	width: 100%;
	background-color: #FAF9F4;
	border: solid thin #DDDED9;
}

header #reifax {
	margin-bottom: 10px;
	height: 100px;
	width: 100%;
	background-color: #F7F7F7;
	border: solid thin #DDDED9;
}

#reifax .logo{
	border-right: solid thin #DDDED9;
	width: 328px;
	height:100%;
	float:left;
	margin:auto;
	text-align:center;
}
#reifax .logo:last-child{
	border-right: none;
	width: 328px;
	height:100%;
	float:left;
	margin:auto;
}

.logo img {
	padding: 12px 55px;
	margin:auto;
	display:block;
	max-height:76px;
	max-width:220px;
}
.cuote {
	background-color: #D90461;
	float: left;
	height: 5px;
	margin-right: 5px;
	margin-top: 3px;
	width: 5px;
}

.big {
	height: 8px;
	margin-top: 2px;
	width: 8px;
}

#reifax #login, #reifax #user{
	width: 328px;
	height:100%;
	float:left;
}

#login .content, #login .content  {
  float: none;
  margin: 0;
  padding: 5px;
  position: inherit;
  width: 100%;
}

#login .disclaimer {
  font-family: calibri,Arial;
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
  margin-right: 8px;
}

#login label, #user label {
	display: block;
	font-family: calibri,arial;
	font-size: 14px;
	font-weight: bold;
	margin-left:15px;
}
#user div{
	margin-top:6px;
}
#user label {
	font-size:16px !important;
}

#user .buttongreen {
	margin-left:0px !important;
}

#login input, .register input, .register select,.register textarea, .adminAdvertise input, .fieldtext {
	/*Box-Shadow*/
	-moz-box-shadow: 0 0 1px #005C83;
	-webkit-box-shadow: 0 0 1px #005C83;
	box-shadow: 0 0 1px #005C83;
	
	margin-left: 15px;
	width: 200px;
}

#login input:focus, .register input:focus, .register select:focus,.register textarea:focus,.adminAdvertise input:focus, .fieldtext:focus  {
	/*Box-Shadow*/
	-moz-box-shadow: 0 0 4px #005C83; 
	-webkit-box-shadow: 0 0 4px #005C83;
	box-shadow: 0 0 4px #005C83;
}
#login input, .reports .fieldtext{
	margin-left:0px;
}
.shortBox
{
	width:100px !important;
}
#reifax #socialmedia{
	border-right: solid thin #DDDED9;
	width: 329px;
	height:100%;
	float:left;
	text-align: left;
}

#socialmedia ul {
	list-style: none outside none;
	padding-left: 60px;
	padding-top: 5px;
	width: 240px;
}

#socialmedia ul li{
	padding-top:5px;
	clear: both;
}

#socialmedia span {
	font-family:calibri,Arial;
}

#socialmedia ul a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	text-decoration:none;
}

#liveChatButtom{
	margin-left:64px;
}

#socialmedia .facebook , .facebook{
  background: url("../img/socialmedia.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 24px;
  margin-left: 7px;
  width: 29px;
}
#socialmedia .linkedin,.linkedin {
  background: url("../img/socialmedia.png") no-repeat scroll 0 -49px transparent;
  float: left;
  height: 24px;
  width: 29px;
}
#socialmedia .twitter,.twitter {
  background: url("../img/socialmedia.png") no-repeat scroll 0 -73px transparent;
  float: left;
  height: 24px;
  width: 29px;
}
#socialmedia .youtube,.youtube {
  background: url("../img/socialmedia.png") no-repeat scroll 0 -25px transparent;
  float: left;
  height: 24px;
  width: 29px;
}

#socialmedia ul li .cuote{
	margin-top: 12px;
}

#menu {
	margin-bottom: 5px;
	height: 40px;
	width: 100%;
}

#heretext { 
	margin-bottom: 6px;
	text-align: left;
	line-height: 10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #005C83;
	font-weight:bold;
	font-size:14px;
}
.blacktext{
	color:#000;
}
.whitetext{
	color:#FFF !important;
}
.greentext{
	color: #9CC55F !important;
}

.bluetext{
	color: #005C83 !important;  
}
.redtext{
	color: #C50505 !important;  
}
.graytext{
	color: #959595 !important;  
}

.fuchsiatext{
	color:#D90461 !important;
}
.buttonred{
  	/* No Gradient */
	background: #FF5151;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 25%, 100%, from(#FF5151), to(#C50505));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FF5151 25%,#C50505);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FF5151 25%,#C50505);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #FF5151 25%,#C50505);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FF5151', endColorstr='#C50505');
	/* IE 10 */
	background: -ms-linear-background(top, #FF5151 25%,#C50505);
	/* estándar */
	background: linear-background(top, #FF5151 25%,#C50505);
	
	border: thin solid #013145;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF !important;
	font-family: trebuchet MS !important;
	font-size: 14px !important;
	font-weight: bold !important;
	padding: 1px 5px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.buttonred:hover{
	background: #C50505;
}
.buttonblue{
  	/* No Gradient */
	background: #005C83;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 25%, 100%, from(#2293bd), to(#005C83));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #2293bd 25%,#005C83);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #2293bd 25%,#005C83);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #2293bd 25%,#005C83);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2293bd', endColorstr='#005C83');
	/* IE 10 */
	background: -ms-linear-background(top, #2293bd 25%,#005C83);
	/* estándar */
	background: linear-background(top, #2293bd 25%,#005C83);
	
	border: thin solid #013145;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF !important;
	font-family: trebuchet MS !important;
	font-size: 14px !important;
	font-weight: bold !important;
	padding: 1px 5px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.buttonblue:hover{
	background: #005C83;
}

.buttongreen {
  	/* No Gradient */
	background: #9CC55F;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 25%, 100%, from(#9CC55F), to(#799D22));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #9CC55F 25%,#799D22);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #9CC55F 25%,#799D22);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #9CC55F 25%,#799D22);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9CC55F', endColorstr='#799D22');
	/* IE 10 */
	background: -ms-linear-background(top, #9CC55F 25%,#799D22);
	/* estándar */
	background: linear-background(top, #9CC55F 25%,#799D22);
	
	border: thin solid #274807;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF !important;
	font-family: trebuchet MS !important;
	font-size: 14px !important;
	font-weight: bold !important;
	padding: 1px 5px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.buttongreen:hover{
	background: #799D22;
}

.buttonwhite{
  	/* No Gradient */
	background: #FFF;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 25%, 100%, from(#FFF), to(#ecebe9));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF 25%,#ecebe9);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF 25%,#ecebe9);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #FFF 25%,#ecebe9);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#ecebe9');
	/* IE 10 */
	background: -ms-linear-background(top, #FFF 25%,#ecebe9);
	/* estándar */
	background: linear-background(top, #FFF 25%,#ecebe9);
	
	border: thin solid #717a79;
	border-radius: 3px 3px 3px 3px;
	color: #444 !important;    
	font-family: trebuchet MS;
	font-size: 14px !important;
	font-weight: bold !important;
	padding: 1px 5px !important;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.buttonwhite:hover{
	background: #CCC;
}
.bigButton{
	font-size: 16px;
	margin:8px;
}
 
#contentPrincipal{
	padding-top:4px;
	min-height: 100%;  
	margin-bottom: 10px;
	position: relative;
}

.clear {
  clear: both !important;
  height: 10px !important;
}

.sidebarright {
	width: 305px;
	height: 100%;
	padding-top:5px;
	margin-right:-3px;
	position:absolute;
	right: 0px;
	
	background-color: #FFF;
	/*border: solid thin #DDD; 
	
	/*Box-Shadow
	-moz-box-shadow: 2px 3px 3px #DDD;
	-webkit-box-shadow: 2px 3px 3px #DDD;
	box-shadow: 2px 3px 3px #DDD;
	
	padding:4px;*/
}
.sidebarright a{
	margin-bottom:7px;
	display:block;
}

.sidebarright .center {
}
.content {
	width: 680px;
	float: left;
	margin-right:5px;
}

.full {
	width: 100%;
	margin-right: 0px;
}

.content .columns {
	height: 310px;
	width: 100%;
}

.three .col{
	width:222px;
	margin-right:6px;
	float: left;
	height: 100%;
}

.col .title {
  border-bottom: thin solid #E5E5E5;
  color: #586681;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
}

.three .col ul{
	font-size:14px;
	font-family:calibri,Arial;
	margin-left: 30px;
	list-style-image: url(../img/cuote.png);
}

.three .col a {
	text-decoration:none;
	color: #929395;
} 

.three .last{
	margin-right: 0px;
}
.col table{
	width:100% !important;
	height:35px;
	background:#FFF;
	padding:0px;
	border:solid thin #DDD !important;
	font-size:12px;
}

#advertisingRotative {
	height: 315px;
	margin-bottom: 10px;
	width: 680px;
	z-index:20;
}

.panel {
	background-color: #FFF;
	border: solid thin #DDD; 
	
	/*Box-Shadow*/
	-moz-box-shadow: 2px 3px 3px #DDD;
	-webkit-box-shadow: 2px 3px 3px #DDD;
	box-shadow: 2px 3px 3px #DDD;
	
	height:100%;
	overflow:hidden;
	padding: 4px;
}

.panel .center, .sidebarright .center {
	position:relative;
	background-color: #F7F7F7;
	height:100%;
}  

/* ~~ The footer ~~ */
footer {
	width: 100%;
	margin-top:10px;
	background: #FFF;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
} 
footer #footerMenu{
	width:100%;
	height:30px;
	border-top: solid 2px #B6BAB4;
	border-bottom: solid 2px #B6BAB4;
	text-align:center;
	margin:0 auto;
}
footer #footerMenu ul{
	list-style:none;
	margin:0 auto;
	display:block;
}
footer #footerMenu a{
	color:#514E44;
}
footer #footerMenu li{
	color:#514E44;
	margin:0 auto;
	font-weight:bold;
	display:block;
	font-size:13px;
	margin-top:3px;
	padding:3px 20px;
	border-left:solid thin #E7E6E1;
	float:left;
}
footer #footerMenu li:first-child{
	border-left:none;
}
footer #galeriaImg{
	text-align:center;
}
footer #galeriaImg img{
	height: 55px;
    margin-bottom: 15px;
    padding: 10px 14px;
    width: 55px;
}

footer #menu ul li {
  height: 18px;
  padding: 1px;
}

footer #menu ul a,
footer #menu ul a:visited,
footer #menu ul a:hover {
	font-size:12px;
	color: #6c6c6a;
	text-decoration:none;
	font-family:calibri,Arial;
}

footer #copyright {
	color: #000000;
	font-size: 13px;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

.bold{
	font-weight:bold;
}

.centertext{
	text-align:center;
}
.righttext{
	text-align:right;
}
/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, nav, article, figure {
	display: block;
}
.linkCompare{
	display:block;
	margin-top:10px;
	font-size:12px;
	text-decoration:underline !important;
}
.product li{
	margin-top:8px;
}
.reportingframework{
	position:relative;
	margin-bottom:13px;
}
.note{
	position:absolute;
	bottom:3px;
	right:7px;
	font-size:12px;
}
.underline{
	text-decoration:underline !important;
}
#subMenu-products
{
	display: none;
	padding-top:7px;
	margin: 0 auto 0 auto;
	position: relative;
	font-weight:bold;
	text-align: center; 
}
#subMenu-products li
{
	position:relative; 
	float:left !important;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	list-style-type:none;
	text-align:center;
	width: 167px;
	padding: 7px 0px;
	font-size:14px;
	margin:0px;
	background: #F7F7F7;
}
#subMenu-products li a{ 
	display:block !important;
	margin:0px;
	text-decoration:none; 
	color: #005C83;  
	border-left:1px solid #DDD; 
	border-right:1px solid #DDD; 
}
#subMenu-products li:hover { 
	background: #005C83;
}

#subMenu-products li:hover a{ 
	color: #F7F7F7 !important; 
	border-left:1px solid #DDD; 
	border-right:1px solid #DDD; 
}
#subMenu-products li:first-child a { 
	border-left:none; 
}
#subMenu-products li.last a { 
	border-right:none; 
}
#subMenu-products li:first-child{ 
	border-left:1px solid #DDD; 
}
#subMenu-products li.last{  
	border-right:1px solid #DDD; 
}
#subMenu-products li div{
	background:
}
#subMenu-products .active{
	background: #005C83;	
}
#subMenu-products .active a{ 
	color: #F7F7F7 !important; 
	border-left:1px solid #DDD; 
	border-right:1px solid #DDD; 	
}
#subMenu-products .active div{ 
	position:absolute;
	left:50%;
	margin-left:-10px;
	bottom:0px;
	width:20px;
	margin-bottom:-19px;
	height:20px;
	z-index:2;
	background: url(../img/iconMenu.png) no-repeat;
}
#contentProductDetails{
	text-align:justify;
	height:auto;
	width:670px;
	font-size:14px;
}
#contentProductDetails .title{
	font-size:16px;
}
#contentProductDetails .maintitle{
	font-size:26px;
}
#contentProductDetails ul{
	margin:7px 7px 7px 15px;
}
#contentProductDetails li{
	margin:0px 0px 15px 15px;
	list-style-type:none;
}
#contentProductDetails .cuote{
	margin-left:-10px;
	margin-top:7px;
}
.tableCompare ,.tableUpgrade{
	padding:0px;
	border-collapse:collapse;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.tableCompare th{
  background: none repeat scroll 0 0 #F7F7F7;
  border: 1px solid #E1E1E1;
  color: #005C83;
  font-size: 14px;
  margin: 0;
  padding: 4px 1px;
  text-align: center !important;
}
.tableCompare th div{
	width:100%;
	height:100%;
  	position:relative;
}
.tableCompare th div a{  
	bottom: -43px;
  	left: 50%;
  	margin-left: -35% !important;
  	position: absolute;
	width:68px;
}
.tableCompare th div .access{  
  	margin-left: -30% !important;
}
.tableCompare th div div{
	background: url("../img/iconMenuGris.png") no-repeat scroll 0 0 transparent;
	bottom: 0;
  	height: 20px;
  	left: 50%;
  	margin-bottom: -24px;
  	margin-left: -10px;
  	position: absolute;
  	width: 20px;
  	z-index: 2;
}
.tableCompare .feature{
	width:350px;
}
.tableCompare .upgrade{
	padding:0px 10px;
	width:160px;
}
.tableCompare .details{
	width:108px;
}
.tableCompare .detailsUpgarde{
	width:131px;
}
.featureGroup, 
.informationaltext table th{
	padding: 5px 5px;
	margin-top:3px;
	color: #F7F7F7; 
	background: #105479;	
}
.tableCompare td,.tableUpgrade td
{
  border-bottom: medium none !important;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-top: medium none !important;
  color: #005C83;
  height:40px;
  font-size: 14px;
  margin: 0;
  padding: 4px 2px;
  text-align: left;
}
.tableUpgrade td{
	border-bottom: #E1E1E1 solid 2px !important;
	height:60px;    
	margin: 0;
    padding: 4px 1px;
}
.tableUpgrade .detalis{
	width:131px;
	text-align:center;
}
.tableUpgrade .frequency{
	width:69px;
	text-align:center;
	padding:0px 5px;
}
.tableUpgrade .countie{
	width:90px;
	text-align:center;
	padding:0px 5px;
}
.tableCompare .cuote{
	margin-top:8px !important;
}
 .par{
	background:#F8F8F8 !important;
}
 .impar{
	background:#F3F3F3 !important;
}
.tableCompare .inactive{
	background:url(../img/table-dash.png) center no-repeat;
}
.tableCompare .active{
	background:url(../img/table-check.png) center no-repeat;
}
.informationaltext{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:justify;
}
.informationaltext h2{    
	margin: 0;
    padding: 5px 15px;
	font-weight:bold;
	color:#005C83;
	font-size:16px;
}
.informationaltext p,.informationaltext li{
	margin-bottom:10px;
}
.informationaltext ul{
	margin-left:20px;
	margin-bottom:8px;
}
.informationaltext li{
	margin:4px 10px;
	list-style:none;
}
.informationaltext li .cuote{
	margin-top:8px;
	margin-left:-10px;
}
.informationaltext table{
	border-collapse:collapse;
	width:90%;
	text-align:center;
}
.informationaltext table th{
	height:40px;
	border:solid 1px #0C5E8A;
	
}
.informationaltext table td{
	padding:4px 3px;
	border:solid 1px #DEECF5;
	
}
.informationaltext table .par{
	background:#F6FBFE !important;
}
.informationaltext table .impar{
	background:#FFFFFF !important;
}
.centerNumber div:first-child{
	float:left;
	width:20px;
	text-align:right;
}
.centerNumber{
	margin: 0 auto;
	width:56px;
}
.centerNumber div{
	float:left;
	text-align:center;
	width:16px;
}
.centerNumber div:last-child{
	float:left;
	width:20px;
	text-align:right;
}
.right{
	text-align:right;
}
.register{
	position:relative;
}
.register h2 {
    font-size: 26px;
    margin: 0;
    padding: 8px 10px;
}

.register h3 {
	
    padding: 5px 15px;
	font-weight:bold;
	color:#286CB0;
    font-size: 18px;
    margin: 0;
}
.register > p{
	font-size:14px;
}
.register table{
	table-layout:auto;
	width:100%;
}
.register table td{
	padding:2px 4px;
	position:relative;
	height:35px;
	width:220px;
}
.register table tr td:first-child{ 
	text-align:right;
	width:210px;
}
.register table tr td:last-child{ 
	text-align:left;
	width:300px;
	font-weight:600;
	font-size:13px;
	color:#828385;
}
.required{
	background:url(../img/ix1y64.gif) top left no-repeat;
	padding-left:11px;
}
.register label{
	font-size:13px;
	font-weight:600;
}
.register input,.register textarea{
	width:240px;
	margin:0px;
}
.register select{
	margin:0px;
	width:246px;
}
.register textarea{
	height:60px;
}

.radioButton{
	width:16px !important;
}
.register .numberPhone .short{
	width:40px;
}
.register .numberPhone input{
	width:105px;
}
.register .notification{
	color:#686A77;
	font-size:11px;
	width:225px;
	position:absolute;
	top:15px;
	right:15px;
	z-index:9;
}
.whatsThis{
	position:relative;
}
.whatsThis >div{
	position:absolute;
	margin:3px -3px -3px -50px !important;
	left:50%;
	font-weight:400 !important;
}
.register .notification >p{
	margin-left:20px;
	padding-left:22px;
	padding-top:2px;
	padding-bottom:3px;
	background:url(../img/icon_secure_big.gif) center left no-repeat;
}
.register .notification >div, .whatsThis > div{
	padding:4px;
	display:none;
	text-align:left;
	margin-left:15px;
	margin-top:-7px;
	background:#F9F5DA;
	border:solid 1px #DFD4AA;
}
.borderLeft{
	border-left:solid 1px #828385 !important;
}
.BoxTextLoudGray{
	width:90%;
	background:#999999;
	color:#F7FDFD;
	padding:5px;
	margin-left:15px;
}
.BoxTextSoftGray{
	width:90%;
	background:#EEEEEE;
	padding:5px;
	margin-left:15px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.titleDetailsProduct
{
	width:130px;
	height:30px;
	float:left;
	clear:left;
}
.titleDetailsProduct .cuote{
	margin-right:10px !important;
	margin-top:10px !important;
}
.contentDetailsProduct
{
	float:left;
	width:130px;
	height:30px;
}
.CodLicense{
	font-size:12px;
	width:200px;
	height:40px;
	float:left;
	clear:right;
}
.titleCodLicense{
	margin-left:15px;
	font-size:12px;
	float:left;
	height:40px;
	width:300px;
	clear:left;
}
.addressPanel{
	float:left;
	width:330px;
}
.addressPanel td:first-child{
	width:300px !important;
}
.addressPanel td:last-child{
	width:200px;
	color:#000 !important;
}
.addressPanel input{
	width:190px;
}
.addressPanel select{
	width:196px;
}
#ProductInformation{
	text-align:justify;
	margin:10px 15px;
}
#ProductInformation .selections{
	margin-left:10px;
	width: 140px;
	float:left;
}
#ProductInformation select{
	width:120px;
}
#LicenseEstateSales,#LicenseEstateBroker,#registerCompany,#registerCompany2,#divOfficeNumber2,#divOfficeNumber{
	display:none;
}
.mediumMarginLef{
	margin-left:20px !important;
}
select[name="exdate2"], select[name="exdate1"]{
	width:75px;
}
input[name="exdate2"], input[name="exdate1"]{
	width:70px;
}
.CreditCardlogo{
	background:url(../img/Logos-de-tarjetas-de-credito.jpg) center no-repeat;
	width:247px;
	height:36px;
	position:absolute;
	top:10px; 
	right:10px;
}
.store table td:first-child{
	width:20px;
}
.store table td:last-child{
	font-size:16px;
	text-align:right;
	padding-right:10px;
	padding-top:4px;
	width:auto;
}
.store table td{
	width:85px;
}

.productInformationDetails{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
/*************
	Estilos para los tabs
*****************/
ul.css-tabs {  
	margin:0px 0px 0px 20px !important; 
	padding:0;
	height:30px; 	
}

ul.css-tabs li {  
	float:left;	 
	padding:0; 
	margin:0; 
	list-style-type:none;	
}

ul.css-tabs a {
	float:left;
	font-size:14px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #666;	
	height:18px;
	margin-right:3px;
	font-weight:bold;
	position:relative;
	top:1px;	
	outline:0;
	border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-bottom:1px solid #ddd;
	background-color:#005C83;
	color:#FFF;
}

ul.small a{
	padding:5px 8px;
	background-color:#F0F0F0;
	color:#1D1D1D;
}
ul.css-tabs a:hover {
	background-color:#2293bd;
}
ul.small a:hover {
	background-color:#FBFBFB;
}
ul.css-tabs a.current {
	border-bottom:0px;
	background:#8AB420;	
	color:#FFF;
	cursor:default;
}

.panes > div{
	display:none;
}
.panes .active{
	display:block;
}

/*************
	Fin de estilos para los tabs
*****************/
.reports{
	font-size:14px;
}
.reports .contentText{
	float:left; 
	color:#FFF; 
	text-align:center;
	margin-right:15px;
}
.reports .title{
	background:#8AB420;
	padding:10px 8px;
	margin-bottom:10px;
	text-align:justify;
}

.reports label{
	color:#021500;
	font-weight:bold;
	margin-bottom:10px;
}
.reports table{
	padding:5px;
	width:100%;
	border: solid 1px #E1E1E1;
	border-collapse:collapse;
}
.reports .cuote{
	margin-top:7px;
}
.reports table th .colCenter {
	width:100%;
	height:100%;
	/*border-left:solid 1px #005C83;
	border-right:solid 1px #005C83;*/
}
.reports table th{
	background:#8AB420;
	border:none;
	padding:7px 4px;
	text-align:right;
	width:12%;
}
.reports table th:first-child{
	text-align:left;
	width:78%;
}
.reports table th:last-child{
	width:8%;
}
.reports table td{	border:none;
	padding:7px 4px;
	text-align:right;
	width:12%;
}
.reports table td:first-child{
	text-align:left;
	width:78%;
}
.reports table td:last-child{
	width:8%;
}
#formSearch .bigButton {
  font-size: 18px !important;
  margin: 0 0 0 15px;
  padding: 2px 30px;
  position: relative;
  top: 10px;
}
.msgLoad{
	background:#E1E1E1;
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	z-index:3;
}
.contactUs{
	text-align:justify;
	font-size:14px;
}
.contactUs ul{
	margin-left:35px;
	margin-bottom:10px;
}
.contactUs h4{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left: 15px;
	color:#4A4C59;
	padding:8px 0px;
	font-size:20px;
    margin-bottom: 0;
}
.contactUs li{
	margin-left:10px;
	padding:4px 0px;
	list-style:none;
}
.contactUs li .cuote{
	margin-left:-10px;
	margin-top:7px;
}
.contactUs td{
	border:none !important;
	text-align:justify;
	font-size:14px;
}
.contactUs td:first-child{
	width:130px !important;
}
.contactUs td:last-child{
	width:260px !important;
}
.methodContact{    
	float: left;
    font-size: 11px;
    width: 200px;
}
.methodContact p
{
	margin-left:0px !important;
	padding-left:0px !important;
    font-size: 13px;
	color:#6D7A8A !important;
}

.methodContact td
{
	width:auto !important;
	padding:3px !important;
	font-size: 11px !important;
	text-align:justify !important;
	height:auto !important;
	font-weight:100 !important;
	color:#000!important;
	height:auto !important;
}
.video{
}
.video .title{
	color:#FFF;
	background:#9DC318;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:20px;
	display:block;
}
.video .title >div
{
	margin :0px 15px;
	height:100%;
	width:100%;
}
.video .list{
	height:500px;
	float:left;
	width:260px;
	overflow:auto;
}

.video .list li{
	list-style:none;
}
.video .list a{
	color:#4A4C59;
	font-weight:400px;
	font-size:14px;
	display:block;
	height:40px;
	width:230px;
	padding-left:10px;
	line-height:40px;
}
.video .list a:hover{
	font-weight:bold;
}
.video .list a .cuote{
	margin-right:10px;
	margin-top:19px;
}
.video .marcoVideo{
	float:left;
	height:500px;
	width:720px;
}
.video .active{
	font-weight:bold;
}
.video .active{
	font-weight:bold;
	color:#FFF !important;
	background:#9DC318;
}
.video .active .cuote{
	background:#FFF;
}
.clearEmpty{
	clear:both;
	height:0px;
}
.errorRegister{
	display:none;
	color:#C60303;
}
.ErrorField{
	box-shadow: 0 0 4px #C50505 !important;
}
#formProcessing{
	position:relative;
}
#formProcessing .errorForm{
	-webkit-box-shadow: 0px 0px 6px #000;
	-moz-box-shadow: 0px 0px 6px #000;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=0, Strength=6);
	border-radius: 3px 3px 3px 3px;
	top:-100px;
	font-size:18px;
	color:#C50505;
	text-align:center;
	background:#FFF;
	position:absolute;
	left: 3px;
	text-shadow: none;
    padding: 8px;
    height: auto;
    width: 240px;
    left: -23px;
	display:none;
}
#formProcessing .errorForm div{
	background:url(../img/iconMsgError.png);
	width:22px;
	height:16px;
	position:absolute;
	bottom:-16px;
	left:50%;
	margin-left:-11px;
}
.lockScreen{
	display:none;
	position:fixed;
	background:#CCC;
	top:0px;
	left:0px;
	z-index:10;
	width:100%;
	height:100%;
	opacity :0.5;
}
.MsglockScreen{
	display:none;
	color:#005C83;
	padding:20px;
	font-size:26px;
	position:fixed;
	z-index:11;
	top:50%;
	left:50%;
	width:450px;
	height:auto;
	margin-left:-225px;
	margin-top:-50px;
	text-align:center;
	background:#FFF;
	-moz-box-shadow: 4px 6px 6px #666;
	-webkit-box-shadow: 4px 6px 6px #666;
	box-shadow: 4px 6px 6px #666;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.yourAdHere{
	width:300px;
	height:250px;
	display:block;
	margin-left:2px;
	margin-bottom:10px;
}
/*
.yourAdHere:hover{
	background-position:bottom;
}
*/
.advertise1{
	background:url(../img/advertise/A1.png);
}
.advertise2{
	background:url(../img/advertise/A2.png);
}
.advertise3{
	background:url(../img/advertise/A3.png);
}
.advertise4{
	background:url(../img/advertise/A4.png);
}
.advertise5{
	background:url(../img/advertise/A5.png);
}
.advertise6{
	background:url(../img/advertise/A6.png);
}
.AddNotAvailebleRegister{
	background-position:0 0 !important;
}
.AddAvailebleRegister{
	background-position:0 250px!important;
}
.AdactiveRegister{
	background-position:0 500px !important;
}
.mySettings table{
	width:700px;
}
.profileData{
	margin-left:100px;
}
.profileData >div{
	float:left;
	margin-left:50px;
}
.profileData img{
	max-height:80px;
}
div.upload {
   position: relative;
   width: 80px;
   height: 24px;
   overflow:hidden;
   clip:rect(0px, 80px, 24px, 0px );
}
div.uploadAdvertise{
	background:url(../img/btn_upload_select.png) left top no-repeat;
}
div.uploadprofile{
   background:url(../img/btn_upload.png) left top no-repeat;
   left:50%;
   margin-left:-40px;
}
div.upload input {
   position: absolute;
   left: auto;
   right: 0px;
   top: 0px;
   margin:0;
   padding:0;
   filter: Alpha(Opacity=0);
   -moz-opacity: 0;
   opacity: 0;
}
.adminAdvertise{
	margin-bottom:20px;
}
.adminAdvertise .descripcion{
	margin:15px;
	float:left
}
.adminAdvertise .descripcion:first-child{
	position:relative;
	width:300px;
	height:250px;
	background:no-repeat center;
	padding:10px;
	border:solid 1px #444A3E;
}
.adminAdvertise .descripcion:first-child a{
	position:absolute;
	bottom:10px;
	right:10px;
}
.adminAdvertise label{
	font-weight:bold;
}
.adminAdvertise table td{
	border-bottom: solid 1px #E1E1E1;
}
.adminAdvertise .NewImage{
	margin:20px 0px;
	display:none;
}
.adminAdvertise input{
	margin-left:0px;
}
.adminAdvertise input{
	color:#666;
	margin-left:0px;
}
.adminAdvertise input:focus{
	color:#000;
}
.divUpgrade{
	width:46%;
	float:left;
}
.divUpgrade table{
	margin:10px;
	width:100%;
}
.divUpgrade table td{
	padding:8px;
}
.productUpgradeSel{
	background:#F3FFDD;
}
.productDowngradeSel{
	background:#FFE1EA;
}
#requireQuestionuser{
	z-index:11;
	padding:10px;
	position:fixed;
	width:500px;
	height:200px;
	margin-left:-250px;
	margin-top:-100px;
	top:50%;
	left:50%;
	background:#FFF;
	-moz-box-shadow: 4px 6px 6px #666;
	-webkit-box-shadow: 4px 6px 6px #666;
	box-shadow: 4px 6px 6px #666;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
#requireQuestionuser label{
	font-size:13px;
	font-weight:600;
}
#waitQuestionuser{
	text-align:center;
	display:none;
	width:100%;
	height:100%;
}
.waitQuestionuser{
	background:url(../img/ac.gif) center no-repeat;
}
.legentSettings{
	color:#000;
	text-align:justify;
	font:100%/1.4 Arial,Helvetica,sans-serif;
}
.panelMyProducts img{
	height:90px;
	margin:10px;
}
.panelMyProducts h2{
	font-size:34px;
	position:absolute;
	right:15px;
	top:20px;
	color:#669934;
}
.panelMyProducts .buttongreen{
	position:absolute;
	top:68px;
	right:140px;
}
.panelMyProducts .buttonblue{
	position:absolute;
	top:68px;
	right:30px;
}
.panelMyProducts .buttonred{
	position:absolute;
	top:68px;
	right:30px;
}
.panelMyProducts:hover{
	background:#fbfbfb;
}

/*******************
*	original
********************/
.result{
	padding-top:2px;
	padding-bottom:2px;
	background-color: #FFF;
 	background: -moz-linear-gradient(bottom, #EDF7F9, #FFF 50px);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EDF7F9),  to(#FFF));
}
.result:hover{
	padding-top:0px;
	padding-bottom:0px;
	border-top:solid 2px #B8DBE1;
	border-bottom:solid 2px #B8DBE1;
}
.result .title{
	background:#EDF7F9;
	color:#2F8DD8;
	text-transform:uppercase;
	text-align:left;
	padding:4px 0px 4px 20px;
}
.result .view{
	float:left;
	padding:10px;
	height:150px;
}
.result .view table{
	font-size:13px;
	margin-top:-2px;
	margin-right:20px;
}
.result .view table td{
	padding:2px 10px;
	margin-right:20px;
}
.result .view img{
	display:block;
	width:105px;
	height:135px;
	border:solid 2px #B8DBE1;
}
/*************
	prototipo 1
***************/
.result1{
	z-index:1;
	position:relative;
	background-color: #FFF;
 	background: -moz-linear-gradient(bottom, #F7FEE9, #FFF 50px);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F7FEE9),  to(#FFF));
	border: solid 1px #D9F8AF;
}
.result1:hover{
	z-index:2;
	background-color: #FFF;
	border: solid 1px #5EAB1F;
	-moz-box-shadow: 2px 2px 4px #5EAB1F;
	-webkit-box-shadow: 2px 2px 4px #5EAB1F;
}
.result1 .title{
	color:#5EAB1F;
	background:#F7FEE9;
	font-weight:600;
	text-transform:uppercase;
	text-align:left;
	padding:4px 0px 4px 20px;
}
.result1:hover .title{
	color:#FFF;
	background:#5EAB1F;
}

.result1 .price{
	color:#000;
	margin-right:20px;
}
.result1 .view{
	float:left;
	padding:10px 0px;
	height:140px;
}
.result1 .view table{
	font-size:13px;
	margin-top:-2px;
}
.result1 .view table td{
	padding:2px 10px;
}
.result1 .view table .bold{
	margin-right:15px;
}
.result1 .view img{
	margin: 0 8px 0 15px;
	display:block;
	width:135px;
	height:135px;
	border:solid 2px #B8DBE1;
}
.result1 .buttonblue{
	position:absolute;
	bottom:15px;
	right:15px;
	display:none;
}
.result1 .cuote{
	margin-top:6px;
}
/*************
	prototipo 2
***************/
.botonDesplazamiento{
	float:left;
	margin-left:5px;
}
.botonDesplazamiento .buttongreen{
	display: block;
    float: left;    
	height: 21px;
    margin-left: 3px;
    width: 12px;
}
.result2{
	position:relative;
	background-color: #FFF;
 	background: -moz-linear-gradient(bottom, #F7F7F7, #FFF 50px);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7),  to(#FFF));
	border: solid 1px #E1E1E1;
	z-index:1;
}
.result2Option{
	position:relative;
	height:30px;
	z-index:3;
	border: solid 1px #E1E1E1;
	background-color: #F7F7F7;
	
}
.result2:hover{
	z-index:2;
	background-color: #FFF;
	border: solid 1px #5EAB1F;
	-moz-box-shadow: 2px 2px 4px #5EAB1F;
	-webkit-box-shadow: 2px 2px 4px #5EAB1F;
}
.result2 .title{
	color:#005C83;
	font-weight:600;
	background:#F7F7F7;
	text-transform:uppercase;
	text-align:left;
	padding:4px 0px 4px 20px;
}
.result2 .price{
	color: #ed9f18;
    margin-right: 20px;
}
.result2:hover .price{
	color:#0D0F0E;
}
.result2:hover .title{
	color:#FFF;
	background:#5EAB1F;
}
.result2 .view{
	float:left;
	padding:10px 0px;
	height:140px;
}
.result2 .view table{
	font-size:13px;
	margin-top:-2px;
}
.result2 .view table td{
	padding:2px 10px;
}
.result2 .title .Num{
	position:absolute;
	right: 10px;
}
.result2 .view table .bold{
	margin-right:15px;
}
.result2 .view .img{
	overflow:hidden;
	margin: 0 8px 0 15px;
	display:block;
	width:135px;
	height:135px;
	border:solid 2px #B8DBE1;
}
.result2 .buttonblue{
	position:absolute;
	bottom:15px;
	right:15px;
	display:none;
}
.result2 .cuote{
	margin-top:6px;
}
/*************
	prototipo 3
***************/
.result3{
	position:relative;
	background-color: #FFF;
 	background: -moz-linear-gradient(bottom, #EDF7F9, #FFF 50px);
 	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EDF7F9),  to(#FFF));
	border: solid 1px #C4E3FA;
	z-index:1;
}
.result3:hover{
	z-index:2;
	background-color: #FFF;
	border: solid 1px #045779;
	-moz-box-shadow: 2px 2px 4px #045779;
	-webkit-box-shadow: 2px 2px 4px #045779;
}
.result3 .title{
	color:#005C83;
	font-weight:600;
	background:#EDF7F9;
	text-transform:uppercase;
	text-align:left;
	padding:4px 0px 4px 20px;
}
.result3 .price{
	color: #ed9f18;
    margin-right: 20px;
}
.result3:hover .price{
	color:#ed9f18;
}
.result3:hover .title{
	color:#FFF;
	background:#045779;
}
.result3 .title .Num{
	position:absolute;
	right: 10px;
}
.result3 .view{
	float:left;
	padding:10px 0px;
	height:140px;
}
.result3 .view table{
	font-size:13px;
	margin-top:-2px;
}
.result3 .view table td{
	padding:2px 10px;
}
.result3 .view table .bold{
	margin-right:15px;
}
.result3 .view img{
	margin: 0 8px 0 15px;
	display:block;
	width:135px;
	height:135px;
	border:solid 2px #B8DBE1;
}
.result3 .buttongreen{
	position:absolute;
	bottom:15px;
	right:15px;
	display:none;
}
.result3 .cuote{
	margin-top:6px;
}
/********************************
******** estilos para el detalle del search
***********************************/

.detailsTitle{
	margin-top:4px;
	margin-bottom:10px;
	height:204px;
}
.detailsTitle #map{
	float:left;
	width:350px;
	height:200px;
	position:relative;
	border: solid 1px #B1B7AE;
	background:#FFF;
}
.detailsTitle .describe{
	float:left;
	width:300px;
	height:200px;
	margin-left:10px;
}
.detailsTitle .describe .title
{
	font-size:22px;
	padding:0px;
	color:005C83;
	font-weight:600;
	
}
.detailsTitle .describe .price{
	margin:8px 0px;
	color:#8AB420 ;
	display:block;
	vertical-align:text-bottom;
	font-size:22px;
	font-weight:600;
	background:url(http://www.reifax.com//img/logo2value2.png) left bottom no-repeat;
	padding-left:95px;
	height:50px;
	position:absolute;
	right:10px;
	bottom:4px;
}
.detailsTitle .describe .price span{
	display:block;
	margin-top:13px;
	bottom:0px;
}
.detailsTitle .describe .relevante{
	color:#323432;
	font-size:14px;
}







/*****************************
**** estilos para el overview
**********************************/
.overviewDetails .css-tabs{
	margin-left:0px !important;
}
.overviewDetails .css-tabs a{
	border: solid 1px #ABABAB;
	border-bottom:none;
}
.overviewDetails .css-tabs .current{
	border: solid 1px #8AB420;
	border-bottom:none;
	color:#FFF;
	background:#8AB420;
}
.overviewDetails .panes{
	font-size:13px;
	border-top:solid 2px #8AB420;
	padding-top:10px;
}
.overviewDetails .cuote{
	margin-top: 6px;
}
.overviewDetails .history{
	color:#222;
}
.overviewDetails .titlePrincipal {
  border-bottom: 2px solid #8AB420;
  margin: 10px 0 0;
  padding: 0;
}
.overviewDetails .titlePrincipal span {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #8AB420;
  font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0;
  text-transform: capitalize;
}
.overviewDetails .fila{
	width:auto;
	height:auto;
	float:left;
}
.overviewDetails .fila .title{
	width:130px;
	height:auto;
	margin-left:5px;
	padding:6px  0 ;
	font-weight:bold;
	float:left;
}
.overviewDetails .fila .describe{
	width:192px;
	height:auto;
	padding:6px  0;
	height:18px;
	padding-left:4px;
	float:left;
}
.overviewDetails .fila .bigDescribe{
	width:460px;
}
.overviewDetails .bigFila{
	width:660px;
}
.overviewDetails .sales{
	border-collapse:collapse;
	width:100%;
	
}
.overviewDetails .sales th,.overviewDetails .sales td{
	padding:6px 4px;
	margin:0px;
	text-align:left;
	color:#000;
	border-bottom:solid 1px #AEAEAE;
	font-size:13px;
}
.overviewDetails .sales th,.overviewDetails .titleBlue{
	background:#005C83;
	font-weight:bold;
	color:#FFF;
}
.overviewDetails .sales .salesDetails:hover{
	-moz-box-shadow: 0px 0px 4px #9AA09C;
	-webkit-box-shadow: 0px 0px 4px #9AA09C;
	z-index:2;
	background:#FFF !important;
}
/*
.overviewDetails .fila:hover .title{
	background:#F1FADE;
}
.overviewDetails .fila:hover .describe{
	background:#F1FADE;
}*/
.grid_comparables .x-grid3-header,
.grid_comparado .x-grid3-header {
	background-color:#FFF;
	background-image:none;
}

.grid_comparado .x-grid3-hd-inner {
	color:#FFF;
	background-color:#88AF3F;
}

.grid_comparables .x-grid3-hd-inner {
	color:#FFF;
	background-color:#376A95;
}

.grid_comparado .x-grid3-row-over,
.grid_comparables .x-grid3-row-over {
	background-color: #ACCFE3;
	background-image: none;
}

.grid_comparado .x-grid3-row-selected,
.grid_comparables .x-grid3-row-selected {
	background-color:#FFFFFF !important;
	background-image:none;
	border:1px solid #EEEEEE;
}

.grid_comparado .x-grid3-header-offset,
.grid_comparables .x-grid3-header-offset{
	padding-left: 0px;
	text-align: inherit !important;
}

.grid_comparables td.x-grid3-hd-over .x-grid3-hd-inner, 
.grid_comparables td.sort-desc .x-grid3-hd-inner, 
.grid_comparables td.sort-asc .x-grid3-hd-inner, 
.grid_comparables td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-color:#376A95;
	background-image:none;
}
.grid_comparado td.x-grid3-hd-over .x-grid3-hd-inner, 
.grid_comparado td.sort-desc .x-grid3-hd-inner, 
.grid_comparado td.sort-asc .x-grid3-hd-inner, 
.grid_comparado td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-color:#88AF3F;
	background-image:none;
}
.customInfoBox-shadow{
	height:110px;
}
.customInfoBox-body{
	-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	height:110px;
}
.VE_Pushpin_Popup_Title{
	color:#8AB420 !important;
	border-bottom: solid 1px #8AB420 !important;
	margin-bottom: 5px;
    padding-bottom: 0 !important;
}
.VEAPI_Pushpin {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.x-toolbar {
	background:none !important;
	border: none !important;
}
#pagingComp{
	width:468px !important;
}
/****************************************************************************************
						ESTILOS PARA EL REPORTE DEL OVERVIEW
*****************************************************************************************/
.overviewDetails .overviewReports{
	clear:both;
	width:985px;
	margin:0 auto 0 auto;
}
.overviewDetails .overviewReports .detailsTitle #map{
	width:550px;
}
.overviewDetails .overviewReports .fila .title{
	width:200px;
}
.overviewDetails .overviewReports .fila .describe {
   width: 283px;
}
.overviewDetails  .overviewReports .bigFila {
    width: 985px;
}
#cabeceraReport{
	margin:0 auto 0 auto;
	width:985px;
	height:100px;
}
#cabeceraReport #bloqueEmpresa a{
	float:left;
	background:url(../img/logo-reifax.png);
	display:block;
	height:105px;
	width:300px;
}
#cabeceraReport #bloqueLogoReporte{
	background:url(../img/HomeFaxPeque%C3%B1o.png) bottom right no-repeat;
	display:block;
	height:65px;
	widows:337px;
	text-align:right;
	padding-right:320px;
	float:right;
	color:#005C83;
	padding-top:40px;
	font-size:32px;
	
}