﻿@charset "utf-8";
/* CSS Document */

header #menu li:hover ul { 
	display:block; 
}

header #menu {
	/* No Gradient */
	background: #76726F;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 50%, 50% 100%, from(#76726F), to(#000000));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #76726F 50%,#000000 50%);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top,#76726F 50%,#000000 50%);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #76726F 50%,#000000 50%);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#76726F', endColorstr='#000000');
	/* IE 10 */
	background: -ms-linear-background(top,#76726F 50%,#000000 50%);
	/* estándar */
	background: linear-background(top,#76726F 50%,#000000 50%);
	
	display: block;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	margin: 0 auto 5px;
	position: relative;
	text-align: center;
}

header #menu ul { 
	padding:0; 
	margin:0; 
}

header #menu li { 
	position:relative; 
	float:left; 
	list-style-type:none; 
	width: 165px;
}

header #menu ul:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
}

header #menu li a { 
	display:block; 
	padding:9px 0px; 
	border-left:1px solid #2ea1e2; 
	border-right:1px solid #00548d; 
	color:#FFF;  
	font-weight:bold;
	text-decoration:none; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
}

header #menu .active {
	/* No Gradient */
	background: #6ec4f3;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 50%, 50% 100%, from(#6ec4f3), to(#00568c));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #6ec4f3 0%, #1386d7 50%,#00568c 50%, #2293bd 90%);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top,#6ec4f3 0%, #1386d7 50%,#00568c 50%, #2293bd 90%);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #6ec4f3 0%, #1386d7 50%,#00568c 50%, #2293bd 90%);
	/* IE 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6ec4f3', endColorstr='#00568c');
	/* IE 10 */
	background: -ms-linear-background(top,#6ec4f3 0%, #1386d7 50%,#00568c 50%, #2293bd 90%);
	/* estándar */
	background: linear-background(top,#6ec4f3 0%, #1386d7 50%,#00568c 50%, #2293bd 90%);
}

header #menu li a:focus { 
	outline:none; 
	text-decoration:underline; 
}

header #menu li:first-child a { 
	border-left:none; 
}

header #menu li.last a { 
	border-right:none; 
}

header #menu a span { 
	display:block; 
	float:right; 
	margin-left:5px; 
}

header #menu ul ul { 
	display:none; 
	width:163px; 
	position:absolute; 
	left:1px; 
	background:#000;
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
	text-align: left; 
	z-index: 30;
}

header #menu ul .active ul { 
	background:#2293bd;
	background:#00568c\9;
	
	left:0px; 
	width:164px;
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
}

header #menu ul ul li { 
	float:none; 
}

header #menu ul ul a { 
	padding:5px 25px; 
	border-left:none; 
	border-right:none; 
	font-size:14px; 
	font-family: calibri,Arial;
}

header #menu ul ul a:hover { 
	background-color:#76726F;
	width:113px;
}

header #menu ul .active ul a:hover { 
	width:114px;
}

header #menu ul ul li:last-child a:hover{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}