/* ------------------------------------- la zone du lasso (mouseover) */
#region {
	display: block;
  position: absolute; 
	top: 0px;
	left: 0px;
  width: 1px;
  height:1px;
  border: 1px solid #444;
  background-color:blue;
  filter:alpha(opacity=25);
  background-image: url('http://pagesperso-orange.fr/stephane.moriaux/truc/suisse/fond_zoom_blc.gif');
  }
/* ------------------------------------- les 4 points de la selection */
#point1, #point2, #point3, #point4 {
	position: absolute; 
	top: 0px;
	left: 0px;
	height: 5px; width: 5px;
	margin: 0px;
	background-color: red;
}

/* ----------------------les lignes de la selection   */
#4points {
	display: block;
  position: absolute; 
	top: 0px;
	left: 0px;
  width: 1px;
  height:1px;
  border: 1px solid red;
  background-image: url('http://pagesperso-orange.fr/stephane.moriaux/truc/suisse/fond_zoom_nr.gif');
  }  

.celda_normal {background-color: white;}
.celda_on {background-color: #ffa07a;}
.celda_over {background-color: #d3d3d3;}



	#pan_shape table{
		font-weight:bold;
		font-size:12px;
		font-family:Helvetica;
	}
	
	#_pan{
		WIDTH: 80px;
		HEIGHT:18px;
	}
	.a_pan{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/pan_on.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}
	.d_pan{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/pan_off.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}
	#_draw{
		WIDTH:80px;
		HEIGHT:18px;
	}
	.a_draw{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/draw_on.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}
	.d_draw{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/draw_off.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}

	#_poly{
		WIDTH:80px;
		HEIGHT:18px;
	}
	.a_poly{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/poly_on.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}
	.d_poly{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/poly_off.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}
	.a_maxmin{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/map_min.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}
	.d_maxmin{
		WIDTH: 80px;
		HEIGHT:18px;
		background-image: url(../../img/map_max.jpg);
		background-repeat:no-repeat;
		cursor:pointer;
		cursor:hand;
	}