@charset "utf-8";
/* CSS Document */

.fuente1{
	color: #1D6AAA;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fuente2{
	color: #1D6AAA;
	text-decoration: none;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:1px;
}

.precio{
	color: #1D6AAA;
	text-decoration: none;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	padding:1px;
	cursor:pointer;
}

.fondo1{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFF, #EEE);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFF, #EEE);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #FFF, #EEE);
	/* IE 10 */
	background: -ms-linear-background(top, #FFF, #EEE);
	/* estándar */
	background: linear-background(top, #FFF, #EEE);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fondo2{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #D0EE99, #E0FFA5);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #D0EE99, #E0FFA5);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #D0EE99, #E0FFA5);
	/* IE 10 */
	background: -ms-linear-background(top,#D0EE99, #E0FFA5);
	/* estándar */
	background: linear-background(top, #D0EE99, #E0FFA5);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

.fondo3{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #9DABCC, #B1C0E5);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #9DABCC, #B1C0E5);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #9DABCC, #B1C0E5);
	/* IE 10 */
	background: -ms-linear-background(top, #9DABCC, #B1C0E5);
	/* estándar */
	background: linear-background(top, #9DABCC, #B1C0E5);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}
 
.fondo4{
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #BCA7DE, #CDB6F2);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top,#BCA7DE, #CDB6F2);
	/* Opera 11.10+ */
	background: -o-linear-background(top, #BCA7DE, #CDB6F2);
	/* IE 10 */
	background: -ms-linear-background(top,#BCA7DE, #CDB6F2);
	/* estándar */
	background: linear-background(top,#BCA7DE, #CDB6F2);
	
	border: thin solid #BBBBBB;
	border-radius: 4px 4px 4px 4px;
	color: #1D6AAA;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}