body {
  background-color: #eee;
}

.form-signin {
  left: 50%;
  margin: -200px 0 0 -165px;
  max-width: 330px;
  padding: 40px 15px;
  position: absolute;
  top: 50%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.MsglockScreen {
  background: none repeat scroll 0 0 #fff;
  border-radius: 10px;
  box-shadow: 4px 6px 6px #666;
  color: #005c83;
  display: none;
  font-size: 26px;
  height: auto;
  left: 50%;
  margin-left: -225px;
  margin-top: -50px;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 450px;
  z-index: 11;
}

#loadingBack{
	background-color: rgba(0,0,0,0.51);
	width: 100%;
	height: 100%;
	z-index: 1000;
	position:absolute;
}

#loadingBack img{
	position: absolute;
	top: 50%;
	left:50%;
	height: 300px;
	width: 300px;
	margin: -150px 0 0 -150px;
}