/*----------------Otros Elementos---------------*/

#searchbox {
	width: 956px;
	height:410px;
	overflow:auto;
	border: solid 1px #006699;
	margin:auto;
	text-align:center;
	}
	
#sidesearchbox {
	width: 300px;
	height:380px;
	overflow:auto;
	border: solid 1px #006699;
	background-color:#D0DEE8;
	float:left;

	}
/*--------------------------------MAINSEARCH-----------------*/	
	#mainsearch input,
	#mainsearch input#multiple,
	#mainsearch input#code1,
	#mainsearch #stat1,
	#mainsearch select,
	select#milerange {
		font-size:0.7em;
		width:94px;
		background-color:#D3DEE7;
		color:#334457;
		margin: 3px 3px 0 3px;
		border: solid 1px #20374A;
		}
		
		select#milerange {
			font-size:1em;
			}
		
		
		#mainsearch input#multiple {
			width:94px;
			padding-right:20px;
			background-image:url(../../img/bginputmultiple.jpg);
			background-repeat:no-repeat;
			background-position:right;
			}
		#mainsearch input#reset{
			font-size:12px;
				background-image:url(../../img/wizsmlreset.png);
				padding-left:10px;
			}
		
		#mainsearch select#stat1,
		select#milerange,
		#mainsearch input {
		width:auto;
		}
	#mainsearch table td, #mainsearch label {
	font-size:0.8em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
			
#mainsearch input.botonsml,
form#changepass input.botonsml,
form#changeusr input.botonsml {
	width:58px;
	height:23px;
	background-image:url(../../img/wizsml.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:none;
	text-align:center;
	color:#426184;
	border:0;
	margin:0;
	padding:0;
	cursor: pointer;
	}
	
	form#mainsearch {
		margin:0;
		padding:0;
		}
		#mainsearch input#txthelp {
			width:135px;
			}
			
		table#tablesearch td.wideright  {
		padding: 0 32px 0 0;
		}
/*==================FIN MAIN SEARCH=================*/			 
	table#tablesearch td{
		height:3px;
		padding:0;
		margin:0;
		}

.mapbactive {
	background-image:url(../../img/mapbuttonactive.jpg);
	}

.mapbinactive {
	background-image:url(../../img/mapbutton.jpg);
	}
	#found {
	float: left;
	width:130px;
	background-color:#C1F394;
	border: solid 1px #00CC00;
	padding:5px;
	margin: 3px 0px 5px 0px;
	font-size:11px;
	font-weight:bold;
	clear:both;
		}
		
	.cerrartab {
		float: right;
		width: 20px;
		height:20px;
		padding:3px;
		color:#ffffff;
		/*background-color:#FF0000;*/
		font-weight:bold;
		}
/*================================pagina ppal=================*/
	form#changepass input,
	form#changeusr input,
	input#zipcode,
	select#County,
	select#Type {
		font-size:14px;
		width:110px;
		background-color:#D3DEE7;
		color:#334457;
		margin: 3px 3px 0 3px;
		border: solid 1px #20374A;
		}
		
		span.textolateralcampo {
		font-size:14px;
		}


/***************************Funcionalidades Mapa*****************************/
	#pan_shape{
		visibility:hidden;
	}
	
	#pan_shape table{
		font-weight:bold;
		font-size:12px;
		font-family:Helvetica;
	}
	#_pan{
		WIDTH: 80px;
		HEIGHT:18px;
		cursor:hand;
	}
	.a_pan{
		background-image: 'img/pan_on.jpg';
		background-repeat:no-repeat;
	}
	.d_pan{
		background-image: 'img/pan_off.jpg';
		background-repeat:no-repeat;
	}
	#_draw{
		WIDTH: 80px;
		HEIGHT:18px;
		cursor:hand;
	}
	.a_draw{
		background-image: 'img/draw_on.jpg';
		background-repeat:no-repeat;
	}
	.d_draw{
		background-image: 'img/draw_off.jpg';
		background-repeat:no-repeat;
	}
/*****************************************************************************/