.chgstat{background:transparent url(../images/disk.png) 0px 0px no-repeat !important;}
.deladdcounty{background:transparent url(../images/deladdcounty.gif) 0px 0px no-repeat !important;}
.editar{background:transparent url(../images/editar.png) 0px 0px no-repeat !important;}
.historico{background:transparent url(../images/historico.png) 0px 0px no-repeat !important;}

#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 5px;*/
	width: 100%;
}

#rounded-corner th
{
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	text-transform: capitalize;
	padding: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: #F7F7F7;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	border-top: 7px solid #fff;
	background: #105479;
	border-color: #FFF !important;
}
#rounded-corner td
{
	-moz-border-radius: 0px 0px 9px 9px;
	-webkit-border-radius: 0px 0px 9px 9px;
	padding: 8px;
	background: #EDF5FF;
	text-align: center;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	border-top: 1px solid #fff;
	color: #105479;

}
#rounded-corner tbody td:hover 
{
	background:#9CCCDB;	
	color: #FFF;
}