/*------------------------------PAGINADOR --------------------------------------------*/
div#paginador,
div#paginador2
{
	padding: 2px;
	width:990px;
	height:30px;
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
/*	background-color: #E4EBF1;*/
}

table#regs 
{
	margin: 0px auto 0px auto;
	width:980px;	
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
}

table#regs td.regancho 
{
	width:630px;
	/*text-align:center;*/
}

table#regs td.tdtemplates 
{
	width:350px;
	/*text-align:center;*/
}

table#regs td.paginationstyle a
{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	text-decoration: none; 
	color: #88AF3F;
	background-color: #FFFFFF;
}

table#regs td.paginationstyle a:hover, 
table#regs td.regancho a:active
{
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
}

table#regs td.paginationstyle span.current
{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
}

table#regs td.paginationstyle span.disabled
{
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
/*------------------------------FIN CSS PAGINADOR --------------------------------------------*/






	
.imsorted{
	background-color:#D1E4EF;
	color:#004A6F;
}
.rowluz{background-color:#ACCFE3}
.row1{background-color:white}
.row2{background-color:#F3F3F3}
.cabecera{
	color:#FFFFFF;
	font-size:12px;
	font-family: trebuchet ms;
	}
.alright {
	text-align:right;
	}

	
.rowsel {
	background-color:#00CCFF;
	}



.rowRed table {
   background-color: #ffcece;
}

.rowGreen table {
   background-color: #b9ffb9;
}

.rowYellowLight table {
   background-color: #fff9dd;
}

.rowViolet table {
   background-color: #e8dcfa;
}

.rowOrangeLight table {
   background-color: #ffd9c4;
}

.rowBlueLight table {
   background-color: #ddf3ff;
}

.rowPinkLight table {
   background-color: #fee7eb;
}
