/* CSS Document */

body {
	background-position:top;
	background-repeat:repeat-x;
	margin:0;
	padding:0;
	}

/*------------------------ DIV'S CONTENEDORES -------------------------*/	
#menu
{
	padding: 10px 2px 0 10px;
	width:990px;
	/*position:relative;*/
	margin: 0 auto;
	/*border-bottom:1px solid #77A6D0*/
	clear: both;
}
#submenu
{
	width:990px;
	padding: 0 2px 0 10px;
	/*position:relative;*/
/*	border-top:2px solid #D5EAF4;*/
	margin: 0 auto;
	clear: both;
}
#contentpage
{
	width:990px;
	/*width:100%;*/
	/*height:auto;*/
	padding: 0px 2px 10px 10px;
	margin: 0 auto;
	/*margin:15px 0 0 0;
	float:left;*/
/*	border-bottom:1px solid #77A6D0*/
	clear: both;
}

/*------------------------ ITEM'S DE MENUS -------------------------*/	
#menu ul,
#submenu ul
{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#menu ul li,
#submenu ul li
{
	list-style-type:none;
	list-style-image:none;
	padding: 0;
	float:left;
}

#menu ul li a,
#submenu ul li a
{
	text-align:center;
	margin: 0px 2px 0px 0px;
	padding: 4px 0px 0px 0px;
	width: 92px;
	height:23px;
	float:left;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #000000;
	text-decoration:none;
}
#menu ul li.normal a:link,#menu ul li.normal a:active,#menu ul li.normal a:visited,
#submenu ul li.normal a:link,#submenu ul li.normal a:active,#submenu ul li.normal a:visited
{
	background-image:url(../img/BotonMenuInactive.png);
}
#menu ul li.normal a:hover,
#submenu ul li.normal a:hover
{
	background-image:url(../img/BotonMenuOver.png);
}

#menu ul li.activo a:link,#menu ul li.activo a:active,#menu ul li.activo a:visited,
#submenu ul li.activo a:link,#submenu ul li.activo a:active,#submenu ul li.activo a:visited
{
	background-image:url(../img/BotonMenuActive.png);
}

#menu ul li.logout a:link,#menu ul li.logout a:active,#menu ul li.logout a:visited
{
	background-image:url(../img/BotonMenuInactiveLogout.png);
}
#menu ul li.logout a:hover
{
	background-image:url(../img/BotonMenuOverLogout.png);
}

#menu ul li.disabled a:link,#menu ul li.disabled a:active,#menu ul li.disabled a:visited,#menu ul li.disabled a:hover
{
	background-image:url(../img/BotonMenuDeshabilitado.png);
	cursor:text;
	color:#999999;
}

/*------------------------ CLASS PARTICULARES -------------------------*/	
.oculto
{
	display: none;
/*	visibility:hidden;*/
}


/*********************************************************************************************/
#contentlogin {
	width: 1000px;
	position: absolute;
	top:5%;
	border-bottom:1px solid #006699;
	border-top:1px solid #006699;
}
table#tblLogin
{
	width:300;
	margin:5px 0px 5px 0px;
	border-collapse: collapse;
	border: 1px solid #02679D;
}
table#tblLogin thead th
{
	color:#fff;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    text-align: left;
	background-color:#376A95;
	padding:0px 2px 0px 2px;
	display: block;	
	white-space: normal;
}
table#tblLogin tbody td
{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    text-align: left;
	padding:0px 5px 0px 5px;
	background-color:white;
}
input.botonLogin {
	background-position:center;
	background-repeat:no-repeat;
	background-color: #F9F9F9;
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#426184;
	border:1px solid #B6BAC2;
	margin: 0px 0px 2px 0px;
	cursor: pointer;
	width:60px;
	height:20px;
}
#msgError
,#msgError2
{
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #FF0000;
}

