	
div#NuevoProducto,
div#NuevoGrupo,
div#ModificarProducto,
div#EliminarProducto,
div#WinEmail,
div#ModificarDeudor
{
	margin: 0 auto 0 auto;
	position:absolute;
	top:20%;
	left:20%;
	visibility:hidden;
	display: none;
}

div#editpreciosPromoN,
div#editpreciosSinPromoN,
div#editpreciosPromoM,
div#editpreciosSinPromoM
{
	margin: 0 auto 0 auto;
	visibility: hidden;
	display: none; 
}

table.tblEmail
{
	border: 2px solid #767676;
    width: 250px;
}
 
/**** TABLA DE NUEVO PRODUCTO**********************************************************************/
table.NuevoProducto{
	border: 2px solid #767676;
    width: 500px;
}
table.NuevoDatos{
	margin:5px 5px 5px 5px;
	border: 1px solid #ccc;
    width: 480px;
}
/**** TABLA DE REGISTROS***************************************************************************/
table.NuevoProducto tbody tr.subtitulo th,
table.tblEmail tbody tr.subtitulo th{
	font: bold 14px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #fff;
    text-align: left;
	background-color:#376A95;
	border-collapse:collapse;
	padding:0 5px 0 5px;
	white-space: nowrap;
}

table.NuevoProducto tbody tr.color1 td,
table.NuevoDatos tbody tr.color1 td,
table.tblEmail tbody tr.color1 td{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #fff;
    text-align: left;
	padding:0 3px 0 3px;
    border-top: 1px dotted #eee;
}


div#msgNuevoN,
div#msgNuevoM{
	margin: 0 auto 0 auto;
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#FF0000;
    text-align: center;
	padding:0 3px 0 3px;
    border-top: 1px dotted #eee;
}

div#Reloj{
	width:150px;
	background-color:#FFFFE1;
	position:absolute;
	top:40%;
	left:35%;
	visibility:hidden;
	font: bold 10px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: #000;
	text-align: left;
}

select {
	width: auto;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
	background-color:#D3DEE7;
	margin: 1px 1px 1px 1px;
	border: solid 1px #20374A;
/*	height:18px;		*/
}


input.cajatexto {
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
	background-color:#D3DEE7;
	margin: 1px 1px 1px 1px;
	border: solid 1px #20374A;
	height:18px;		
}

textarea{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
	background-color:#D3DEE7;
	margin: 1px 1px 1px 1px;
	border: solid 1px #20374A;
}

input.botonsml {
	background-position:center;
	background-repeat:no-repeat;
	background-color: #F9F9F9;
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#426184;
	border:1px solid #B6BAC2;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	height:20px;
}
input.botonEmail {
	background-position:center;
	background-repeat:no-repeat;
	background-color: #F9F9F9;
	text-align:center;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#426184;
	border:1px solid #B6BAC2;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	width: 50px;
	height:20px;
}

.texto {
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#000;
}




/*************************************************************/

div#OpcBoton 
{
	width: 800px;
	/*background-color:#006666*/
}

/*Grids normales de uno solo*/
div#tblregistros-container 
{
	width: 990px;
	height: 450px;
	overflow: auto;
	position: relative;
	text-align:center;
	border:1px solid #CCCCCC;
/*	background-color: #E4EBF1;*/
}

/*Grids para el ejp: affiliate marketing normales 
que son dos grids*/
div#divTblregisterSup
{
	width: 990px;
	height: 200px;
	overflow: auto;
	position: relative;
	text-align:center;
	border:1px solid #CCCCCC;
/*	background: #E4EBF1;*/
}

div#divTblregisterInf
{
	width: 990px;
	height: 240px;
	overflow: auto;
	/*position: relative;*/
	text-align:center;
	border:1px solid #CCCCCC;		
	
}

a.sortheader
{
	text-decoration: none;
	color:#fff;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
}

table.sortable thead th span.headerbloquea, 
table#tblregistros1 thead th span.headerbloquea, 
table#tblregistros2 thead th span.headerbloquea,
table#tblregistros3 thead th span.headerbloquea 
{	
	background-color:#376A95;
	color:#fff;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	padding:0px 2px 0px 2px;
	text-decoration: none;
	white-space: nowrap;
	cursor: default;		 
}
table.sortable,
table#tblreport, 
table#tblregistros1, 
table#tblregistros2, 
table#tblregistros3 
{
	border-collapse: collapse;
	/*padding: 5px 5px 0px 0px;*/
	border: 1px solid #02679D;
	/*width:100%;*/
}

table.sortable td,
table#tblreport td,
table#tblregistros1 td,
table#tblregistros2 td,
table#tblregistros3 td
{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
	padding:0px 5px 0px 5px;
	border-bottom:1px solid #02679D;
	white-space: nowrap;
}

table.sortable thead th,
table#tblreport thead th,
table#tblregistros1 thead th,
table#tblregistros2 thead th,
table#tblregistros3 thead th
{	
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color:#fff;
	padding:0px 2px 0px 2px;
	background-color:#376A95;
	white-space: nowrap;	
	position: relative;/* absolute;/* static;/* relative;*/
	cursor: pointer; 
	text-decoration: none;			
}
	
table.sortable thead th,
table#tblreport thead th 
{	top: expression(document.getElementById("tblregistros-container").scrollTop-2); 
	z-index: 20;
}

table#tblregistros1 thead th 
{	top: expression(document.getElementById("divTblregisterSup").scrollTop-2); 
	z-index: 20;
}

table#tblregistros2 thead th 
{	top: expression(document.getElementById("divTblregisterInf").scrollTop-2); 
	z-index: 20;
}


table.filatable
{
	border-collapse: collapse;
	border: 1px solid #4A5E53;
	margin: 2px 0px 2px 0px;
}
table.filatable tbody th
{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color:#fff;
	padding:0px 2px 0px 2px;
	background-color:#4A5E53;
	border-bottom:1px solid #4A5E53;
	white-space: nowrap;	
	cursor: pointer; 
	text-decoration: none;	
}

table.filatable tbody td
{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
	padding:0px 5px 0px 5px;
	border-bottom:1px solid #4A5E53;
	white-space: nowrap;
}


table.sortable span.sortarrow 
{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color: white;
	text-decoration: none;
} 

.resaltafila{background-color:#DAEBFA}
.colorfila{background-color:white}
.filasaldo{background-color: #E4EBF1;}
.filamontocobrar{ text-align:right; background-color: #FFFFCC}

a.itemusers 
{
	text-decoration: underline;
	color:#1D76F8;
	font: 11px "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.rosequal0
{
	color: #FF0000;
	text-align:center;
	background-color:#FFFFFF;
}

/**************************************************************************/

table.tblEditCliDeudores
{
	border-collapse:collapse;
    border: 1px solid #ccc;
	width:480;
	padding:5px 0px 5px 0px;
}

table.tblEditPestaņas
{
	border-collapse:collapse;
    border: 1px solid #ccc;
	width:400;
}

table.tblEditPestaņas tbody td,
table.tblEditCliDeudores tbody td{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #000;
    background: #fff;
    text-align: left;
	padding:0;
}

table.tblEditCliDeudores tbody tr.titpestaņa td {
	background-color:#DAEBFA;
	padding:5px 0px 0px 0px;
}



/*********************************************************************/
div#WinDetailsUser
{
	margin: 0 auto 0 auto;
	position:absolute;
	top:15%;
	left:10%;
	/*width:700px;*/
	height:auto;
	background-color:#E4EBF1;
	border:1px solid #006699;
	display: none;
}
div#listaemail
{
	margin: 0 auto 0 auto;
	position:absolute;
	height:100px;
	overflow:auto
}
table.tblDetailsUser
{
	padding:5px 0px 5px 0px;
}

table.tblDetailsUser thead
{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	text-transform:uppercase;
}

table.tblDetailsUser tbody td.titulo
{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
}

table.tblDetailsUser tbody td.info
{
	font: 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	color:#1D5AFE;
}
table.tblDetailsUser tbody tr.header
{
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	background-color:#B2E05D;
	text-transform:uppercase;
	text-align:center;
	color:#274974;
}

#dhtmltooltip
{
	position: absolute;
	width: 150px;
	border: 1px solid #006699;
	padding: 2px;
	background-color: #E4EBF1;
	font: bold 12px "Trebuchet MS", Tahoma, Arial, sans-serif;
	display: none;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

div#ventanasecundaria
{
	margin: 0 auto 0 auto;
	position:absolute;
	top:30%;
	left:20%;
	visibility:hidden;
	display: none;
}


/***********************
*****	ESTILOS DE ICONOS
***********************/

.x-icon-save {background:url(../images/disk.png) 0 0 no-repeat !important;}
.x-icon-cancel {background:url(../images/delete.gif) 0 0 no-repeat !important;}
.x-icon-add {background:url(../images/add.png) 0 0 no-repeat !important;}
.x-icon-filter {background:url(../images/funnel.png) 0 0 no-repeat !important;}
.x-icon-reload {background:url(../images/reload.png) 0 0 no-repeat !important;}
.x-icon-addon-delete {background:url(../images/delete-icon.png) 0 0 no-repeat !important;}
.x-icon-document-delete {background:url(../images/delete-icon.png) 0 0 no-repeat !important;}
.x-icon-edit-text {background:url(../images/Pencil-icon.png) 0 0 no-repeat !important;}
.x-icon-contract-seeVars {background:url(../../img/icons_jesus/search-file-icon-16.png) 0 0 no-repeat !important;}
.x-icon-addon-seeVars {background:url(../../img/icons_jesus/search-file-icon-16.png) 0 0 no-repeat !important;}
.x-icon-see-files {background:url(../images/Zoom-icon.png) 0 0 no-repeat !important;}
.x-icon-see-file {background:url(../images/Zoom-icon.png) 0 0 no-repeat !important;}
.x-icon-see-file1 {background:url(../images/setsearch.gif) 0 0 no-repeat !important;}
.x-icon-download-files {background:url(../images/Actions-green-arrow-down-bottom-icon.png) 0 0 no-repeat !important;}
.x-icon-download-file {background:url(../images/Actions-green-arrow-down-bottom-icon.png) 0 0 no-repeat !important;}
.x-icon-add-addon {background:url(../images/Add-icon.png) 0 0 no-repeat !important;}
.x-icon-addUser {background:url(../images/user_add.gif) 0 0 no-repeat !important;}
.x-icon-assignUser {background:url(../images/user_assign.png) 0 0 no-repeat !important;}
.x-icon-deleteUser {background:url(../images/user_delete.png) 0 0 no-repeat !important;}
.x-icon-config {background:url(../images/editIconOver.png) 0 0 no-repeat !important;}
.x-icon-editGrid {background:url(../images/edit-icon.gif) 0 0 no-repeat !important;}
.x-icon-movie {background:url(../images/icon-video.png) 0 0 no-repeat !important;}
.x-icon-addmovie {background:url(../images/icon_video_add.gif) 0 0 no-repeat !important;}
.x-icon-exportExcel {background:url(../images/excel.png) 0 0 no-repeat !important;}
.x-icon-upload-document {background:url(../images/upload-icon.png) 0 0 no-repeat !important;}
.x-icon-change-document {background:url(../images/change-icon.png) 0 0 no-repeat !important;}
